.attend-select {
    width: 10em;
    text-align: left;
    text-shadow: none;
    color: #535353;
}

.attend-error {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

@media ( max-width: @screen-sm-max ) {
    .attend-error {
        position: relative;
        text-align: center;
        padding-top: .5rem;
    }
}

.attendees {
    color: @color-grey--80;
    transition: color @trans-fast;
    cursor: pointer;

    &:hover {
        color: @color-secondary;
    }
}

.attendees__number {
    .font(title-large);
    font-weight: bold;
}
