.button {
    position: relative;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: @border-radius-button;
    height: 4rem;
    line-height: 4rem;
    padding: 0 2rem;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    background-color: @color-secondary;
    color: @color-white;
    text-shadow: none;
    transition: background-color @trans-fast, color @trans-fast,
        border-color @trans-fast;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &.___is-active,
    &:hover,
    &:active {
        background-color: @color-primary;
    }

    &[disabled] {
        &:not(.___is-loading) {
            background-color: @color-grey--40;
            color: @color-grey--60;
            cursor: default;
        }
    }

    .toolbar.___blue & {
        background-color: @c-tertiary;

        &:hover {
            background-color: @c-tertiary-dark;
        }
    }

    &.___margin-right {
        margin-right: 2rem;
    }

    &.___margin-bottom {
        margin-bottom: 2rem;
    }

    &.___logout {
        .icon(logout);
        &:before {
            display: none;
        }
    }

    @media (max-width: @screen-xs-max) {
        height: 3.6rem;
        line-height: 3.6rem;

        .modal & {
            height: 4rem;
            line-height: 4rem;
        }

        &.___pleio {
            display: none;
        }

        &.___large.___logout {
            display: flex;
            justify-content: center;
            width: 2.6rem;
            height: 2.6rem;
            line-height: 2.6rem;
            padding: 0;
            border-radius: 50%;
            font-size: 2.4rem;
            position: absolute;
            top: 2rem;
            right: 2rem;

            span {
                display: none;
            }

            &:before {
                display: inline-block;
                font-size: 1.2rem;
                line-height: inherit;
            }
        }

        &.___edit-email {
            margin: 2rem 0 0 0;
        }
    }
}

button.button {
    display: inline;
}

// Grey button
.button.___grey {
    background-color: @color-grey--50;

    &:not([disabled]) {
        &:hover,
        &:focus,
        &:active {
            background-color: @color-secondary;
        }
    }

    &.___grey-hover:not([disabled]) {
        &:hover,
        &:focus,
        &:active {
            background-color: @color-grey--60;
        }
    }
}

// Full width button
.button.___block {
    display: block;
    width: 100%;
    text-align: center;
}

// Square button
.button.___square {
    width: 4rem;
    padding: 0;

    &:hover {
        background-color: @color-grey--80;
    }

    &.___is-invited {
        background-color: @color-secondary;
    }

    @media (max-width: @screen-xs-max) {
        width: 3.6rem;
    }

    &.___large {
        // width: 4.6rem;

        // @media ( max-width: @screen-xs-max ) {
        //     width: 4rem;
        // }
    }
}

// Full width button (mobile)
.button.___block-mobile {
    @media (max-width: @screen-xs-max) {
        display: block;
        width: 100%;
        text-align: center;
    }
}

// Tall button
.button.___large {
    // height: 4.6rem;
    // line-height: 4.6rem;

    // @media ( max-width: @screen-xs-max ) {
    //     height: 4rem;
    //     line-height: 4rem;

    //     .modal & {
    //         height: 4.6rem;
    //         line-height: 4.6rem;
    //     }
    // }
}

// Button with @color-primary
.button.___primary {
    background-color: @color-primary;

    &:hover {
        background-color: @color-secondary;
    }
}

// Link button
.button.___link {
    padding: 0;
    color: @color-secondary;
    background-color: transparent;

    &:hover,
    &:focus {
        color: @color-primary;
    }
}

.button.___line {
    color: @color-secondary;
    background-color: white;
    border: 1px solid @color-grey--40;

    &:hover,
    &:focus {
        border-color: @color-secondary--light;
    }
}

.button.___small {
    height: 2.4rem;
    line-height: 2.4rem;
    padding: 0 0.7rem;
    font-size: @font-size--small;
    line-height: 2rem;
    font-weight: normal;
    vertical-align: baseline;
}

.button.___move {
    .icon(folder);
    &:before {
        font-size: 1.1rem;
        margin-left: -0.3rem;
        margin-right: 0.8rem;
        margin-bottom: 0.2rem;
    }
}

.button.___edit {
    .icon(pencil);
    &:before {
        font-size: 1.3rem;
        margin-left: -0.3rem;
        margin-right: 0.8rem;
        margin-bottom: 0.1rem;
    }
}

.button.___download {
    .icon(download);
    &:before {
        font-size: 1.4rem;
        margin-left: -0.1rem;
        margin-right: 0.9rem;
    }
}

.button.___add {
    .icon(plus);
    &:before {
        font-size: 1rem;
        margin: 0 0.7rem 0.1rem 0;
    }

    &.___stick {
        @media (max-width: @screen-xs-max) {
            display: flex;
            justify-content: center;
            width: 2.6rem;
            height: 2.6rem;
            line-height: 2.6rem;
            padding: 0;
            border-radius: 50%;
            font-size: 2.4rem;
            position: absolute;
            top: 2rem;
            right: 2rem;

            &:before {
                margin: 0;
            }

            span {
                display: none;
            }
        }
    }
}

.button__share {
    &:extend(.button);
    width: 4rem;
    float: left;
    padding: 0;
    text-align: center;

    &.___twitter {
        background-color: @color-twitter;
        .icon(social-twitter);

        &:before {
            font-size: 1.4rem;
        }
    }
    &.___facebook {
        background-color: @color-facebook;
        .icon(social-facebook);

        &:before {
            font-size: 1.8rem;
        }
    }
    &.___google {
        background-color: @color-google;
        .icon(social-google);

        &:before {
            font-size: 1.4rem;
        }
    }
    &.___linkedin {
        background-color: @color-linkedin;
        .icon(social-linkedin);

        &:before {
            font-size: 1.8rem;
        }
    }
    &.___mail {
        background-color: @color-grey--80;
        .icon(envelope);

        &:before {
            font-size: 1.2rem;
        }
    }
}

.button.___options {
    padding: 0;

    .icon(options);
    @media (max-width: @screen-xs-max) {
        width: 3.8rem;
        &:before {
            font-size: 0.5rem;
        }
    }

    @media (min-width: @screen-sm) {
        width: 4.2rem;
        &:before {
            font-size: 0.55rem;
        }
    }
}

.button.___is-loading {
    color: transparent;
    pointer-events: none;
    cursor: default;
}

.button__loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
    opacity: 0;
    transform: translateY(100%);
    transition: transform @trans-material-normal, opacity @trans-normal;

    button.___is-loading & {
        opacity: 1;
        transform: translateY(0);
    }

    &:before {
        content: "";
        height: 2rem;
        width: 2rem;
        animation: rotate 0.8s infinite linear;
        border: 0.4rem solid #fff;
        border-right-color: transparent;
        border-radius: 50%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button.___dropdown {
    .icon(angle-down-fill, after);
    &:after {
        font-size: 0.5rem;
        margin-left: 0.7rem;
        margin-right: -0.4rem;
        margin-bottom: 0.1rem;
    }

    &.___is-open {
        border-color: @color-secondary;
    }
}

.button__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    color: @color-grey--60;
    cursor: pointer;
    transition: color @trans-fast;

    &:not(.___is-active):hover {
        color: black;
    }

    &.___is-active {
        color: @color-secondary;
        cursor: default;
    }

    &.___large {
        // width: 4.6rem;
        // height: 4.6rem;

        // @media ( max-width: @screen-xs-max ) {
        //     width: 4rem;
        //     height: 4rem;
        // }
    }

    &.___zoom {
        color: black;
        font-size: 2.6rem;
        font-weight: bold;
    }

    &.___back {
        color: black;

        .icon(arrow-right-circle-transparent);
        &:before {
            font-size: 2.8rem;
            transform: scaleX(-1);
        }

        &:not(.___is-active):hover {
            color: @color-secondary;
        }
    }

    &.___close {
        color: black;

        .icon(cross);
        &:before {
            font-size: 1.2rem;
        }

        &:not(.___is-active):hover {
            color: @color-secondary;
        }
    }

    &.___settings {
        .icon(settings);
        &:before {
            font-size: 1.8rem;
            margin-bottom: 0.2rem;
        }

        &:not(.___is-active):hover {
            color: @color-secondary;
        }
    }

    &.___list {
        margin-left: auto;
        .icon(list);
        &:before {
            font-size: 1.8rem;
        }
    }

    &.___tiles {
        .icon(tiles);
        &:before {
            font-size: 1.8rem;
        }
    }

    &.___privacy {
        flex-shrink: 0;
        margin-left: 1rem;
        margin-top: -0.8rem;

        .icon(friends);
        &:before {
            font-size: 2.2rem;
        }

        &.___is-private {
            .icon(eye-invisible);
            &:before {
                font-size: 2.2rem;
            }
        }

        &.___is-public {
            .icon(public);
            &:before {
                font-size: 2.2rem;
            }
        }
    }

    &.___delete {
        .icon(delete-fill);
        &:before {
            font-size: 2rem;
        }
    }

    &.___move {
        .icon(resize);
        &:before {
            font-size: 1.8rem;
        }
    }

    &.___dropdown {
        .icon(angle-down);
        &:before {
            // position: absolute;
            // right: 1.6rem;
            font-size: .5rem;
            color: @color-black;
            // line-height: inherit;
            // pointer-events: none;
            // transition: color @trans-fast, transform @trans-fast;
        }
    }
}

.button__text {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    font-weight: bold;
    transition: color @trans-fast;
    user-select: none;

    @media (max-width: @screen-xs-max) {
        height: 3.6rem;
    }

    &.___edit-post {
        margin-bottom: 2rem;
        padding: 0 1rem;
        font-weight: normal;
        color: @color-grey--60;

        .icon(pencil);
        &:before {
            font-size: 1.4rem;
            margin: 0 0.8rem 1px 0;
        }

        &:hover {
            color: @color-secondary;
        }
    }

    &.___grey {
        color: @color-grey--60;

        &:hover {
            color: @color-secondary;
        }
    }
}

.button__underline {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 4rem;
    color: @color-grey--80;
    cursor: pointer;
    transition: color @trans-fast;
    user-select: none;

    &:after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: @color-grey--60;
        left: 0;
        right: 0;
        bottom: 0.7rem;
        transition: background-color @trans-fast;
    }

    &:hover {
        color: @color-black;

        &:after {
            background-color: @color-grey--80;
        }
    }

    @media (max-width: @screen-xs-max) {
        height: 3.6rem;

        .form & {
            height: 4rem;
        }
    }
}
