.card-list-recommended {
    position: relative;
    width: 100%;

    @media ( max-width: @screen-xs-max ) {
        border-bottom: 1px solid @color-grey--50;
    }

    @media ( min-width: @screen-sm ) {
        background-color: @color-white;
        padding: 3rem;
        margin: 0 0 2rem 0;
        box-shadow: @box-shadow;
    }

    @media ( max-width: @screen-md-max ) {
        .read-more {
            justify-content: flex-end;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }

        .read-more__circle {
            order: 1;
            margin: 0 0 0 0.8rem;
        }

        &.___desktop-only {
            display: none;
        }
    }

    @media ( min-width: @screen-lg ) {
        .read-more {
            margin-top: 2.5rem;
        }
    }
}

.card-list-recommended__title {
    display: inline-block;
    position: relative;
    font-size: @font-size--title-small;
    line-height: @line-height--title-small;
    font-weight: bold;
    color: @color-primary;

    @media ( max-width: @screen-xs-max ) {
        font-size: @font-size--large;
        line-height: 4rem;
    }
}

.card-list-recommended__item {
    display: flex;
    position: relative;
    padding: 1rem 0;
    color: @color-black;
    text-decoration: none;

    @media ( max-width: @screen-md-max ) {
        line-height: 2.4rem;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    @media ( min-width: @screen-lg ) {
        &:last-child {
            margin-bottom: -1rem;
        }
    }
}

.card-list-recommended__picture {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    margin: 0 2rem 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}

.card-list-recommended__justify {
    flex-shrink: 1;
}

.card-list-recommended__article {
    font-weight: bold;
}

.card-list-recommended__name {
    .font(small);
    color: @color-grey;
}

.card-list-recommended__likes {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: @color-grey--80;

    .icon(heart);
    &:before {
        margin: 0 0.5rem 0.2rem 0;
        font-size: 1.6rem;
        color: @color-grey--60;
    }
}
