.card-topic {
    position: relative;
    background-color: @color-white;
    padding: 2rem;
    margin-bottom: 2rem;
    text-decoration: none;
    color: inherit;
    width: 100%; // IE10-11 COLUMN FIX
    box-shadow: @box-shadow;

    @media ( min-width: @screen-sm ) {
        display: flex;
        padding: 3rem 3rem 3rem 8rem;

        &.___feed {
            display: block;
            padding: 3rem 3rem 2rem 8rem;
        }
    }

    .row.fill & {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
    }
}

.card-topic__picture {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 3rem;
    left: 2.4rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;

    @media ( max-width: @screen-xs-max ) {
        display: none;
    }
}

.card-topic__post {
    flex: 1 1 auto;

    @media ( min-width: @screen-sm ) {
        padding: 0 2.5rem 0 0;

        .card-topic.___feed & {
            padding: 0;
        }
    }
}

.card-topic__title {
    .font(title-small);
    font-weight: bold;
    color: @color-primary;
    .ellipsis(@line-height--base, 2);

    @media ( max-width: @screen-xs-max ) {
        .font(large);
    }

    @media ( min-width: @screen-sm ) {
        .ellipsis(@line-height--title-small, 2);
    }
}

.card-topic__meta {
    margin: 0 0 1rem 0;
    .font(small);
    color: @color-grey--60;

    a {
        color: @color-secondary;
        transition: color @trans-fast;

        &:hover {
            color: @color-primary;
        }
    }
}

.card-topic__subject {
    @media ( max-width: @screen-xs-max ) {
        display: none;
    }
}

.card-topic__actions {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;

    @media ( min-width: @screen-sm ) {
        margin: 2.5rem 0 0 0;
    }

    @media ( max-width: @screen-xs-max ) {
        margin: 1.5rem 0 0 0;
    }
}

.card-topic__justify {
    .font(small);
    color: @color-grey--60;
}

.card-topic__views {
    display: flex;
    align-items: center;

    .icon(eye);
    &:before {
        width: 2.4rem;
        margin: 0 0.8rem 0 0;
        font-size: 1.3rem;
        text-align: center;
    }
}