.card {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    background-color: @color-white;
    box-shadow: @box-shadow;

    display: flex;
    flex-direction: column;

    > * {
        flex-shrink: 0;

        &.card__content {
            flex-grow: 1;
        }
    }

    .row.fill & {
        flex: 1 0 auto;
    }

    &.___fill-light {
        background-color: @color-secondary--lightest;
    }

    &.___indent {
        @media (min-width: @screen-sm) {
            padding-left: 5rem;
        }
    }

    &.___is-highlighted {
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: .4rem;
            background-color: @color-lightblue;
            z-index: 1;
        }
    }
}

.card__content {
    display: flex;
    flex-direction: column;

    > * {
        flex-shrink: 0;

        &.card-topic__actions {
            margin-top: auto !important;
        }
    }

    @media (max-width: @screen-xs-max) {
        padding: 2rem 2.5rem 2.5rem;
    }

    @media (min-width: @screen-sm) {
        padding: 2.5rem 3rem 3rem;

        .card-comments {
            margin-left: -3rem;
        }
    }
}

.card__image {
    position: relative;
    display: block;
    width: 100%;
    height: 24rem;
    background-size: cover;
    background-position: center;
    color: white;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: block;
        background: fade(@color-grey--80, 25%);
        background: linear-gradient(to right, fade(mix(black, @color-secondary, 85%), 20%) 0%, fade(mix(black, @color-secondary, 50%), 15%) 100%);
    }

    .card__content {
        position: relative;
    }

    .card-topic__meta {
        color: white;
        margin: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        font-weight: bold;
    }

    .card__title {
        color: white;
        .font(title-extra-large);
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    }

    .card__subject {
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    }
}

.card__footer {
    @media (max-width: @screen-xs-max) {
        padding: 1rem 2.5rem 2rem;

        .card-comments {
            margin-left: -2.5rem;
        }
    }

    @media (min-width: @screen-sm) {
        padding: 1rem 3rem 2rem;

        .card-comments {
            margin-left: -3rem;
        }
    }

}

.card__video {
    display: inline;

    .icon(play);
    &:before {
        font-size: 1.3rem;
        margin: 0 .7rem .3rem 0;
    }
}

.card__header {
    position: relative;
    display: block;
    width: 100%;
    height: 14rem;
    background-size: cover;
    background-position: center;
    color: white;

    .card__content {
        height: 100%;
    }

    .card__subject {
        margin-top: auto;
    }

    .card.___has-image > & {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            display: block;
            background: fade(@color-grey--80, 25%);
            background: linear-gradient(to right, fade(@color-grey--80, 40%) 0%, fade(@color-grey--80, 0%) 100%);
        }
    }

    &.card__header.card__header:after {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 4.6rem;
        height: 4.6rem;
        line-height: inherit;
        background-color: fade(@color-black, 40%);
        top: 2.5rem;
        right: 3rem;
        border-radius: 50%;
        color: @color-white;
        text-align: center;
    }

    .play-button {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .card.___nieuws & {
        background-color: @color-secondary;
        .icon(cat-nieuws, after);
        &:after {
            font-size: 1.8rem;
            width: 4rem;
            height: 4rem;
            background-color: @color-secondary;
        }
    }

    .card.___leren & {
        background-color: @color-leren;

        .icon(cat-leren, after);
        &:after {
            font-size: 3rem;
        }
    }

    .card.___vernieuwing & {
        background-color: @color-vernieuwing;

        .icon(cat-vernieuwing, after);
        &:after {
            font-size: 3.1rem;
        }
    }

    .card.___arbeidsvoorwaarden & {
        background-color: @color-arbeidsvoorwaarden;

        .icon(cat-arbeidsvoorwaarden, after);
        &:after {
            font-size: 3rem;
        }
    }

    .card.___wetten & {
        background-color: @color-wetten;

        .icon(cat-wetten, after);
        &:after {
            font-size: 2.6rem;
        }
    }

    .card.___actualiteit & {
        background-color: @color-actualiteit;

        .icon(cat-actualiteit, after);
        &:after {
            font-size: 2.8rem;
        }
    }

    .card.___overig & {
        background-color: @color-overig;

        // .icon(cat-overig, after);
        // &:after {
        //     font-size: 2.5rem;
        // }
    }

    .card.___klas & {
        background-color: @color-klas;

        .icon(cat-klas, after);
        &:after {
            font-size: 2.7rem;
        }
    }
}

// children
.card {
    .card-topic__actions {
        margin-top: 0;
        margin-bottom: -1rem;
    }

    &.___members {
        @media ( max-width: @screen-md-max ) {
            .people {
                display: none;
            }
        }

        @media (min-width: @screen-lg) {
            .card__content {
                align-items: center;
            }

            .card__title {
                margin-top: -1rem;
                margin-bottom: -.5rem;
                color: @color-grey--80;
                text-align: center;
            }
        }
    }

    .picture {
        position: absolute;
        top: 3rem;
        left: 2.4rem;
    }

    &.___info {
        .picture {
            position: absolute;
            top: 3rem;
            left: 2.4rem;
            align-items: flex-start;
            border-radius: 0;

            .icon(info);
            &:before {
                font-size: 3rem;
                color: @color-grey--50;
            }

            @media ( max-width: @screen-xs-max ) {
                display: none;
            }
        }

        .card__title {
            padding-right: 3rem;
        }
    }
}

a.card {
    cursor: pointer;
}

.card__subject {
    position: relative;
    .font(medium);
    min-height: 2.4rem;
    font-weight: bold;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .card.___has-image > {
        text-shadow: @text-shadow;
    }
}

.card__excerpt {
    display: block;
    margin-bottom: 2rem;

    .card__title + & {
        margin-top: 1rem;
    }
}

.card__title {
    display: block;
    font-weight: bold;
    color: @color-primary;

    @media ( max-width: @screen-xs-max ) {
        .font(title-small);
    }

    @media (min-width: @screen-sm) {
        .font(title-large);
    }
}

.card__subtitle {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.card__item {
    display: block;
    margin-bottom: 2rem;
}

.card__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    color: @color-grey--50;
    transition: color @trans-fast;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;

    &:hover,
    &:focus {
        color: @color-secondary;
    }

    .icon(cross);
    &:before {
        font-size: 1.4rem;
    }

    @media (max-width: @screen-xs-max) {
        &:before {
            font-size: 1.2rem;
        }
    }
}

.card__bottom {
    display: flex;
    justify-content: flex-end;
}

.card-comments {
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    border-top: 1px solid @color-grey--40;

    @media ( max-width: @screen-xs-max ) {
        margin-left: -2rem;
        margin-right: -2rem;
    }

    @media (min-width: @screen-sm) {
        margin-left: -8rem;
        margin-right: -3rem;

        .comment-add {
            padding: 0;
        }

        .editor {
            border-left: none;
            border-right: none;
        }
    }

    .comment {
        border: none;
        margin: 0;
        padding-bottom: 0;
    }

    .comment-container {
        margin: 0;
    }

    .comment-add {
        &:before {
            display: none;
        }
    }

    .comment-add__top {
        border: none;
    }
}

.card-comments__button {
    display: flex;
    justify-content: center;

    .button.___small {
        margin-top: 2rem;
    }
}

.count-comments {
    position: relative;
    color: @color-grey--80;
    font-weight: normal;
    padding-left: 2.6rem;

    .icon(comments);
    &:before {
        color: @color-grey--60;
        transition: color @trans-fast;
    }

    .icon(comments-fill, after);
    &:after {
        color: @color-secondary;
        transition: opacity @trans-fast;
        opacity: 0;
    }

    &:before,
    &:after {
        position: absolute;
        top: 1.1rem;
        left: 0;
        font-size: 1.8rem;

        @media ( max-width: @screen-xs-max ) {
            top: .9rem;
        }
    }

    &:hover {
        &:before {
            color: @color-secondary;
        }
    }

    &.___show-comments {
        &:after {
            opacity: 1;
        }
    }
}

.card__list-item {
    display: block;
    padding: .8rem 0;

    &:not(:last-child) {
        border-bottom: 1px solid @color-grey--40;
    }

    .___colored {
        transition: color @trans-fast;
    }

    &:hover .___colored {
        color: @color-primary;
    }

    small {
        flex-shrink: 0;
        .font(small);
        color: @color-grey--60;
    }
}