.card-tile-container {
    display: flex; // IE10-11 COLUMN FIX
    width: 100%;

    @media ( min-width: @screen-sm ) {
        .row.fill & {
            flex: 1 0 auto;
        }
    }
}

.card-tile {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: @color-white;
    box-shadow: @box-shadow;
    margin-bottom: 2rem;
    text-decoration: none;
    color: inherit;
    width: 100%; // IE10-11 COLUMN FIX

    @media ( max-width: @screen-xs-max ) {
        min-height: 9rem;
    }

    &.___is-highlighted {
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: .4rem;
            background-color: @color-lightblue;
        }
    }

    .read-more {
        margin-top: auto;
    }

    &[href=""] {
        color: inherit;
        pointer-events: none;
        color: @color-grey--60;
        background: @color-grey--40;
    }

    &.___no-margin-bottom {
        margin-bottom: 0;
    }

    @media ( max-width: @screen-xs-max ) {
        &.___no-image {
            background-color: @color-secondary;

            .read-more__circle {
                background-color: @color-white;
                color: @color-secondary;
            }

            .card-tile__title,
            .read-more {
                color: @color-white;
            }

            &.card-tile:hover {
                .read-more__circle {
                    background-color: @color-quaternary;
                    color: @color-white;
                }
            }

            &.___leren {
                background-color: @color-leren;

                .read-more__circle {
                    color: @color-leren;
                }
            }
            &.___vernieuwing {
                background-color: @color-vernieuwing;

                .read-more__circle {
                    color: @color-vernieuwing;
                }
            }
            &.___arbeidsvoorwaarden {
                background-color: @color-arbeidsvoorwaarden;

                .read-more__circle {
                    color: @color-arbeidsvoorwaarden;
                }
            }
            &.___wetten {
                background-color: @color-wetten;

                .read-more__circle {
                    color: @color-wetten;
                }
            }
            &.___actualiteit {
                background-color: @color-actualiteit;

                .read-more__circle {
                    color: @color-actualiteit;
                }
            }
            &.___overig {
                background-color: @color-overig;

                .read-more__circle {
                    color: @color-overig;
                }
            }
            &.___klas {
                background-color: @color-klas;

                .read-more__circle {
                    color: @color-klas;
                }
            }
        }
    }

    @media ( min-width: @screen-sm ) {
        min-height: 27.5rem;
    }

    &.___contact {
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 10rem;
            color: @color-secondary--light;
            opacity: .5;
            z-index: 0;
        }
    }
}

// Full cover image
.card-tile {
    &.___full-image,
    &.___full-video {
        @media ( max-width: @screen-xs-max ) {
            &:not(.___no-image) {
                min-height: 25rem;

                .card-tile__title {
                    .font(title-small);
                    padding: 0;
                    .ellipsis(@line-height--title-small, 5);
                }
            }
        }

        .card-topic__meta {
            color: white;
        }

        .card__content {
            color: white;
        }

        .card-tile__image {
            display: flex;
            flex-grow: 1;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                display: block;
                background: fade(@color-grey--80, 25%);
                background: linear-gradient(to right, fade(@color-grey--80, 40%) 0%, fade(@color-grey--80, 10%) 100%);
            }
        }

        .card-tile__title {
            color: @color-white;
            text-shadow: @text-shadow;
            word-wrap: break-word;

            &:hover {
                color: @color-white;
            }
        }

        .read-more {
            color: @color-white;
        }

        @media ( max-width: @screen-xs-max ) {
            .___search-results & {
                min-height: 9rem;

                .card-tile__title {
                    max-width: ~"calc(100% - 3rem)";
                    .font(small);
                }

                .read-more__circle {
                    margin: 0;
                    position: absolute;
                    right: 2rem;
                    bottom: 2rem;
                }

                .read-more span {
                    display: none;
                }
            }
        }

        &.___no-image {
            background-color: @color-grey;

            &.___no-image:after,
            .card-tile__icon {
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                margin: 0 4rem 0 0;
                color: fade(@color-black, 40%);

                @media ( max-width: @screen-xs-max ) {
                    display: none;
                }
            }

            path {
                fill: fade(@color-black, 40%);
            }

            .read-more__circle {
                background-color: @color-white;
                color: @color-grey;
            }

            .card-tile__title,
            .read-more {
                text-shadow: none;
                color: @color-white;
            }

            &.card-tile:hover {
                .read-more__circle {
                    background-color: @color-quaternary;
                    color: @color-white !important;
                }
            }

            &.___nieuws {
                background-color: @color-secondary;

                .read-more__circle {
                    color: @color-secondary;
                }

                .icon(cat-nieuws, after);
                &:after {
                    font-size: 11.5rem;
                }
            }
            &.___leren {
                background-color: @color-leren;

                .read-more__circle {
                    color: @color-leren;
                }

                .icon(cat-leren, after);
                &:after {
                    font-size: 15rem;
                }
            }
            &.___vernieuwing {
                background-color: @color-vernieuwing;

                .read-more__circle {
                    color: @color-vernieuwing;
                }

                .icon(cat-vernieuwing, after);
                &:after {
                    font-size: 14rem;
                }
            }
            &.___arbeidsvoorwaarden {
                background-color: @color-arbeidsvoorwaarden;

                .read-more__circle {
                    color: @color-arbeidsvoorwaarden;
                }

                .icon(cat-arbeidsvoorwaarden, after);
                &:after {
                    font-size: 14rem;
                }
            }
            &.___wetten {
                background-color: @color-wetten;

                .read-more__circle {
                    color: @color-wetten;
                }

                .icon(cat-wetten-2, after);
                &:after {
                    font-size: 13.4rem;
                }
            }
            &.___actualiteit {
                background-color: @color-actualiteit;

                .read-more__circle {
                    color: @color-actualiteit;
                }

                .icon(cat-actualiteit, after);
                &:after {
                    font-size: 13.6rem;
                }
            }
            &.___overig {
                background-color: @color-overig;

                .read-more__circle {
                    color: @color-overig;
                }

                .icon(cat-overig, after);
                &:after {
                    font-size: 13rem;
                }
            }
            &.___klas {
                background-color: @color-klas;

                .read-more__circle {
                    color: @color-klas;
                }

                .icon(cat-klas, after);
                &:after {
                    font-size: 13rem;
                }
            }

            @media ( min-width: @screen-sm ) {
                flex-direction: row;
            }
        }
    }

    &.___full-image {
        .card-tile__title {
            @media ( min-width: @screen-sm ) {
                padding: 0 6rem 0 0;
            }
        }
    }
}

.card-tile__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 4.6rem;
    height: 4.6rem;
    line-height: inherit;
    background-color: fade(@color-black, 40%);
    top: 3rem;
    right: 3rem;
    border-radius: 50%;
    color: @color-white;
    text-align: center;

    body.___rijkshuisstijl & {
        width: 4rem;
        height: 4rem;
    }
}

.card-tile__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &:after {
        color: fade(@color-black, 40%);
    }

    @media ( max-width: @screen-xs-max ) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &:after {
            opacity: 0;
            visibility: hidden;
        }
    }

    @media ( min-width: @screen-sm ) {
        min-height: 12rem;
    }

    .card-tile.___leren & {
        background-color: @color-leren;

        .icon(cat-leren, after);
        &:after {
            font-size: 7.2rem;
        }
    }

    .card-tile.___vernieuwing & {
        background-color: @color-vernieuwing;

        .icon(cat-vernieuwing, after);
        &:after {
            font-size: 7.2rem;
        }
    }

    .card-tile.___arbeidsvoorwaarden & {
        background-color: @color-arbeidsvoorwaarden;

        .icon(cat-arbeidsvoorwaarden, after);
        &:after {
            font-size: 7rem;
        }
    }

    .card-tile.___wetten & {
        background-color: @color-wetten;

        .icon(cat-wetten, after);
        &:after {
            font-size: 6rem;
        }
    }

    .card-tile.___actualiteit & {
        background-color: @color-actualiteit;

        .icon(cat-actualiteit, after);
        &:after {
            font-size: 6.4rem;
        }
    }

    .card-tile.___overig & {
        background-color: @color-overig;

        .icon(cat-overig, after);
        &:after {
            font-size: 6rem;
        }
    }

    .card-tile.___klas & {
        background-color: @color-klas;

        .icon(cat-klas, after);
        &:after {
            font-size: 6.2rem;
        }
    }
}

.card-tile__content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    padding: 2.5rem 3rem 3rem;
    z-index: 0; // stay on top of grey background gradient
    overflow: hidden; // forces word break

    @media ( max-width: @screen-xs-max ) {
        padding: 2rem;
    }

    p {
        margin: 1rem 0 0 0;
        .ellipsis(@line-height--base, 3);

        @media ( max-width: @screen-xs-max ) {
            display: none;
        }
    }
}

.card-tile__content-justify {
    margin-bottom: 2rem;
}

.card-tile__title {
    @media ( max-width: @screen-xs-max ) {
        padding: 0 4rem 0 0;
        color: @color-white;
        text-shadow: @text-shadow;

        .card-tile.___no-image & {
            text-shadow: none;
        }

        &:not(.___large) {
            .font(small);
            .ellipsis(@line-height--medium, 2);
        }
    }

    @media ( min-width: @screen-sm ) {
        &:not(.___large) {
            .font(title-small);
            .ellipsis(@line-height--title-small, 2);
        }

        &.___large {
            .font(title-extra-large);
            .ellipsis(@line-height--title-main, 4);
        }
    }
}