.card-event {
    position: relative;
    background-color: @color-white;
    margin-bottom: 2rem;
    width: 100%;
    box-shadow: @box-shadow;

    @media (max-width: @screen-xs-max) {
        padding: 0 2rem 2rem;
    }

    @media (min-width: @screen-sm) {
        display: flex;
        padding: 3rem;
    }

    &.___is-highlighted {
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: .4rem;
            background-color: @color-lightblue;
        }
    }

    .selector {
        @media ( min-width: @screen-sm ) {
            max-width: 23.1rem;
        }
    }

    .title {
        margin: 0;
        .ellipsis(@line-height--large, 2);

        @media ( min-width: @screen-sm ) {
            .ellipsis(@line-height--title-small, 2);
        }
    }
}

.card-event__picture {
    position: relative;
    flex: 0 0 auto;
    display: block;

    background-color: @color-secondary--lighter;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;

    @media (max-width: @screen-xs-max) {
        margin-left: -2rem;
        margin-right: -2rem;
        height: 9rem;
        margin-bottom: 2rem;
    }

    @media (min-width: @screen-sm) {
        width: 17rem;
        height: 17rem;
        margin-right: 3rem;
    }
}

.card-event__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    p {
        margin: 0;
        color: @color-grey--60;
    }
}

.card-event__bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2rem;

    .people {
        margin-left: auto;
    }

    .flexer + .people {
        @media (max-width: @screen-md-max) {
            display: none;
        }
    }
}