.checkbox {
    display: flex;
    position: relative;

    &.___large {
        label {
            padding: 0;

            &:before {
                position: relative;
                display: block;
                width: 1.6rem;
                height: 1.6rem;
                top: auto;
                left: auto;
                border-color: @color-grey--50;
                border-radius: .3rem;
            }

            &:after {
                top: .4rem;
                left: .35rem;
                font-size: 0.8rem;
            }
        }
    }

    label {
        min-height: 3rem;
        padding: 0.3rem 0 0.3rem 2.2rem;
        user-select: none;
        cursor: pointer;

        &:before {
            position: absolute;
            left: 0;
            top: 0.7rem;
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            background: @color-white;
            border: 0.2rem solid @color-grey--60;
            border-radius: 0.2rem;
            transition: border-color @trans-fast;
        }

        .icon(check, after);
        &:after {
            position: absolute;
            top: 1.1rem;
            left: 0.35rem;
            font-size: 0.7rem;
            color: transparent;
            transition: color @trans-fast;
        }

        &:hover:after {
            color: @color-grey--50;
        }
    }

    input[type=checkbox] {
        width: 0;
        opacity: 0;

        &:checked + label {
            &:before {
                border-color: @color-secondary;
            }
            &:after {
                color: @color-secondary;
            }
        }
        &:focus + label:before {
            border-color: @color-secondary;
        }
    }
}
