.comment-container {
    // For forum comment
    position: relative;
    margin: 0 0 2rem 0;
}

.comment {
    position: relative; // position .vote-up-down next to comment
    margin: 0 0 2rem 0;
    background-color: white;
    border: 1px solid @color-grey--40;

    &[data-comment-edit] {
        transition: opacity @trans-fast;
        cursor: pointer;
    }

    @media ( max-width: @screen-xs-max ) {
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem 1rem;
        margin-left: -2rem;
        margin-right: -2rem;
    }

    @media ( min-width: @screen-sm ) {
        padding: 2.4rem 3.2rem 2.4rem 8rem;

        &.___is-editing {
            position: absolute;
            opacity: 0;
        }

        .card-topic__meta {
            margin-bottom: .5rem;
        }
    }

    .article-comments__more-container & {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.comment__side {
    .comment__vote {
        flex-direction: column;
        margin-top: 2.4rem;
    }

    @media ( max-width: @screen-sm-max ) {
        .article-comments & {
            display: none;
        }
    }

    @media ( max-width: @screen-md-max ) {
        .card-comments & {
            display: none;
        }
    }

    .comment__vote-up,
    .comment__vote-down {
        &:before {
            font-size: .8rem;
        }
    }

    .comment__points {
        .font(large);
    }

    @media ( max-width: @screen-sm-max ) {
        display: none !important;
    }

    @media ( min-width: @screen-sm ) {
        position: absolute;
        top: 0;
        left: -6rem;
        width: 6rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.comment__actions {
    margin-left: auto;
    display: flex;
}

.comment__best-answer {
    color: @color-grey--60;
    border-radius: 100%;
    cursor: pointer;
    transition: color @trans-fast, border-color @trans-fast;

    display: flex;
    align-items: center;
    justify-content: center;

    .icon(check);

    .comment__side & {
        margin-top: 2rem;
        width: 3.2rem;
        height: 3.2rem;
        border: .2rem solid @color-grey--40;

        &:before {
            font-size: 1rem;
        }
    }

    .comment__header & {
        margin-left: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid @color-grey--40;

        &:before {
            font-size: .8rem;
        }
    }

    &:hover {
        color: black;
    }

    &.___is-chosen {
        background-color: white;
        border-color: @color-secondary;
        color: @color-secondary;
    }
}

.comment__vote {
    display: flex;
    align-items: center;

    > * {
        flex-shrink: 0;
    }
}

.comment__vote-up,
.comment__vote-down {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    color: @color-grey--60;

    display: flex;
    align-items: center;
    justify-content: center;

    .icon(angle-down-fill);

    &:focus,
    &:hover {
        color: black;
    }

    &.___is-active {
        color: @color-secondary;
    }
}

.comment__vote-up {
    &:before {
        transform: scaleY(-1);
        margin-left: 1px;
        margin-bottom: 1px;
    }
}

.comment__vote-down {
    &:before {
        margin-top: 1px;
        margin-left: 1px;
    }
}

.comment__points {
    color: @color-primary;
    white-space: nowrap;
}

.comment__top {
    width: 100%;
    margin-bottom: 1rem;

     @media ( max-width: @screen-xs-max ) {
        display: flex;
    }
}

.comment__picture {
    flex-shrink: 0;
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;

    @media ( max-width: @screen-xs-max ) {
        margin: 0 1.5rem 0 0;
    }

    @media ( min-width: @screen-sm ) {
        position: absolute;
        top: 2.4rem;
        left: 2.8rem;
    }
}

.comment__justify {
    position: relative;
    display: flex;
    width: 100%;

    @media ( max-width: @screen-xs-max ) {
        display: flex;
        flex-direction: column;
    }

    @media ( min-width: @screen-sm ) {
        justify-content: space-between;
        align-items: center;

        > div {
            position: relative;
        }
    }
}

.comment__name {
    .font(small);
    font-weight: bold;
    color: @color-primary;
    transition: color @trans-fast;
}

.comment__date {
    .font(small);
    color: @color-primary;
    transition: opacity @trans-fast;

    @media ( min-width: @screen-sm ) {
        .comment-container.___is-editable .comment:hover & {
            opacity: 0;
        }
    }
}

.comment__header {
    .article-comments & {
        @media ( max-width: @screen-sm-max ) {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            .card-topic__meta {
                margin-bottom: 0;
            }
        }

        @media ( min-width: @screen-md ) {
            .comment__actions {
                display: none;
            }
        }
    }

    .card-comments & {
        @media ( max-width: @screen-md-max ) {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            .card-topic__meta {
                margin-bottom: 0;
            }
        }

        @media ( min-width: @screen-lg ) {
            .comment__actions {
                display: none;
            }
        }
    }

    .comment__vote-up,
    .comment__vote-down {
        border: 1px solid @color-grey--40;
        border-radius: 100%;

        &:before {
            font-size: .5rem;
        }
    }

    .comment__points {
        .font(small);
        padding: 1px .7rem 0;
    }
}

.card__edit {
    position: absolute;
    top: -1px;
    border-radius: 0;
    .font(small) !important;
    cursor: pointer;
    z-index: 1;

    .icon(pencil);
    &:before {
        font-size: 1.2rem;
        margin: 0 0.5rem 1px 0;
    }

    @media ( max-width: @screen-xs-max ) {
        right: 2rem;

        span {
            display: none;
        }
    }

    @media ( min-width: @screen-sm ) {
        right: 3.2rem;
    }

    @media ( min-width: @screen-md ) {
        opacity: 0;
        visibility: hidden;
        transition: opacity @trans-fast, visibility @trans-fast;

        .comment:hover &,
        .card-blog-post:hover & {
            opacity: 1;
            visibility: visible;
        }
    }
}

.comment__description {
    color: @color-primary;
}

.comment-edit__cancel {
    @media ( max-width: @screen-xs-max ) {
        display: none;
    }
}
