.cookie-notification {
    width: 100%;
    padding: 1rem 0 1.2rem;
    background-color: white;
    color: @color-grey--80;
    font-size: @font-size--extra-small;
    line-height: @line-height--extra-small;
    box-shadow: @box-shadow;
    z-index: 1;

    @media ( min-width: @screen-lg ) {
        .container {
            padding-left: 8em;
            padding-right: 8rem;
        }
    }

    a {
        border-bottom: 1px solid transparent;
        color: @color-secondary;
        text-decoration: none;
        transition: color @trans-fast, border-color @trans-fast;

        &:hover {
            border-color: @color-secondary--light;
        }
    }
}