.count-bookmarks {
    padding: 0 0 0 2.6rem;
    color: @color-grey--80;
    font-weight: normal;

    .icon(bookmark-line);
    .icon(bookmark, after);

    &:before,
    &:after {
        position: absolute;
        left: .2rem;
        top: 1rem;
        font-size: 1.9rem;
        transition: opacity @trans-fast, color @trans-fast;

        @media ( max-width: @screen-xs-max ) {
            top: .8rem;
        }
    }

    &:before {
        color: @color-grey--60;
    }

    &:after {
        color: @color-secondary;
        opacity: 0;
    }

    &:hover {
        &:before {
            color: @color-secondary;
        }
    }

    span {
        white-space: nowrap;
        transition: opacity @trans-fast;

        &.___save {
            opacity: 1;
        }

        &.___saved {
            position: absolute;
            top: .8rem;
            left: 2.6rem;
            opacity: 0;
        }
    }

    &.___is-saved {
        &:before {
            opacity: 0;
            color: @color-secondary;
        }

        &:after {
            opacity: 1;
        }

        .___save {
            opacity: 0;
        }

        .___saved {
            opacity: 1;
        }
    }
}
