.count-likes {
    padding: 0 0 0 2.6rem;
    color: @color-grey--80;
    font-weight: normal;

    &.___thumbs-up {
        font-weight: bold;
        .icon(like);
        .icon(like-fill, after);

        &:before,
        &:after {
            position: absolute;
            left: 0;
            top: 1.1rem;
            font-size: 1.8rem;
            color: @color-secondary;
            transition: opacity @trans-fast, color @trans-fast;

            @media ( max-width: @screen-xs-max ) {
                top: .9rem;
            }
        }
    }

    .icon(heart);
    .icon(heart-fill, after);

    &:before,
    &:after {
        position: absolute;
        left: 0rem;
        top: 1.1rem;
        font-size: 1.7rem;
        transition: opacity @trans-fast, color @trans-fast;

        @media ( max-width: @screen-xs-max ) {
            top: .9rem;
        }
    }

    &:before {
        color: @color-grey--60;
    }

    &:after {
        color: @color-secondary;
        opacity: 0;
    }

    &:hover {
        &:before {
            color: @color-secondary;
        }
    }

    &.___is-liked {
        &:before {
            opacity: 0;
            color: @color-secondary;
        }

        &:after {
            opacity: 1;
        }
    }

    &.___margin-top {
        margin-top: 2.5rem;
    }
}