.document {
    display: flex;
    align-items: center;

    .content & {
        margin: 0 0 1rem;
    }

    a {
        padding: .5rem 0;
        margin-right: 1rem;
        border: none !important;
        color: @color-secondary;

        &:before {
            width: 2rem;
            margin-right: 1rem;
            text-align: center;
        }
    }

    &.___folder a {
        .icon(folder);
        &:before {
            font-size: 1.4rem;
            color: @color-folder;
            padding-bottom: .3rem;
        }
    }

    &.___img a {
        .icon(image);
        &:before {
            font-size: 1.6rem;
            color: @color-image;
            padding-bottom: .2rem;
        }
    }

    &.___doc a {
        .icon(doc);
        &:before {
            font-size: 1.7rem;
            color: @color-doc;
            padding-bottom: .2rem;
        }
    }

    &.___pdf a {
        .icon(doc-pdf);
        &:before {
            font-size: 1.6rem;
            color: @color-error;
            padding-bottom: .2rem;
        }
    }

    span {
        color: @color-grey;
    }
}