.file {
    transition: background-color @trans-fast;

    &:hover {
        .checkbox {
            opacity: 1;
        }
    }

    &.___is-checked {
        background-color: @color-secondary--bright;

        .checkbox {
            opacity: 1;
        }
    }
}

.file__check {
    position: relative;

    .checkbox {
        position: absolute;
        top: 0;
        left: 1rem;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity @trans-fast;

        @media ( max-width: @screen-xs-max ) {
            opacity: 1;
        }

        label {
            &:before {
                position: static;
                margin-top: 1.3rem;
            }

            &:after {
                top: 1.7rem;
            }
        }
    }
}

.file__name {
    position: relative;

    a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 1rem 0;
        transition: color @trans-fast;

        &:hover {
            color: @color-primary;
        }
    }

    span {
        position: absolute;
        top: 0;
        left: -1rem;
        padding: 1rem;
        background-color: white;
        white-space: nowrap;
        z-index: 1;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity @trans-fast, visibility @trans-fast;
        box-shadow: 0 1rem 1.5rem -.5rem fade(black, 10%);
    }

    &:hover span {
        opacity: 1;
        visibility: visible;
    }
}

.file__type {
    text-align: center;

    &:before {
        padding-bottom: .3rem;
    }

    &.___folder {
        .icon(folder);
        &:before {
            font-size: 1.4rem;
            color: @color-folder;
            padding-bottom: .3rem;
        }
    }

    &.___doc {
        .icon(doc);
        &:before {
            font-size: 1.7rem;
            color: @color-doc;

            @media ( max-width: @screen-xs-max ) {
                padding-bottom: .3rem;
            }

            @media ( min-width: @screen-sm ) {
                padding-bottom: .4rem;
            }
        }
    }

    &.___pdf {
        .icon(pdf);
        &:before {
            font-size: 1.6rem;
            color: @color-pdf;
        }
    }

    &.___img {
        .icon(image);
        &:before {
            font-size: 1.6rem;
            color: @color-image;
        }
    }
}

.file__fav {
    position: relative;

    button {
        .icon(star);
        &:before {
            color: @color-grey--60;
            z-index: 1;
            transition: color @trans-fast, opacity @trans-fast;
        }

        .icon(star-fill, after);
        &:after {
            color: white;
            transition: color @trans-fast;
        }

        &:hover {
            &:before {
                color: @color-secondary;
            }
        }

        .file.___is-favorite & {
            &:before {
                opacity: 0;
            }
            &:after {
                color: @color-secondary;
            }
        }

        &:before,
        &:after {
            font-size: 1.8rem;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: .3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}
