.file-view {
    flex-grow: 1;
    overflow: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.file-view_image {
    transition: transform @trans-material-fast;
}

.file-view_header {
    width: 100%;
    height: 5.2rem;
    background-color: white;
    box-shadow: @box-shadow;

    display: flex;
    align-items: center;
}

.file-view_title {
    .font(large);
}

.file-view_date {
    margin-top: -.4rem;
    margin-bottom: .2rem;
    .font(small);
    color: @color-grey--80;
}

.file-view_back {
    width: 5.2rem;
    height: 100%;
    margin-left: -1rem;
    margin-right: .5rem;
}

.file-view_thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button {
        margin-top: 2rem;
    }
}

.file-view_controls-wrapper {
    position: fixed;
    bottom: 4rem;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
}

.file-view_controls {
    padding: 0 .5rem;
    background-color: white;
    border-radius: .3rem;

    display: flex;
    align-items: center;

    opacity: 0;
    transition: opacity @trans-fast;

    .file-view:hover & {
        opacity: .5;
    }

    &:hover {
        opacity: 1 !important;
    }
}

.file-view_zoom-level {
    .font(small);
    color: @color-grey--80;
    margin-top: .2rem;
    margin-left: 1rem;
    margin-right: .5rem;
}