.files {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 8rem;

    .file {
        > td {
            border-top: 1px solid @color-grey--20;

            &:nth-child(4),
            &:nth-child(5) {
                text-align: right;
            }

            @media ( max-width: @screen-xs-max ) {
                &:nth-child(4),
                &:nth-child(5) {
                    display: none;
                }
            }
        }
    }

    thead {
        th {
            position: relative;
            font-weight: normal;

            &:nth-child(1) {
                width: 2.6rem;
            }

            &:nth-child(2) {
                width: 4rem;
            }
            
            &:nth-child(4) {
                width: 20%;
            }

            &:nth-child(5) {
                width: 25%;
            }

            &:nth-child(4),
            &:nth-child(5) {                
                button {
                    text-align: right;
                    
                    span {
                        padding-right: 0;
                    }
                }
            }

            @media ( max-width: @screen-xs-max ) {
                &:nth-child(4),
                &:nth-child(5) {
                    display: none;
                }
            }
        }

        &.___is-checked .checkbox,
        &:hover .checkbox {
            opacity: 1;
        }

        .checkbox {
            position: absolute;
            top: 0;
            left: 1rem;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity @trans-fast;

            label {
                &:before {
                    position: static;
                    margin-top: 1.3rem;
                }

                &:after {
                    top: 1.7rem;
                }
            }
        }

        button {
            width: 100%;
            padding: 1rem 0;
            text-align: left;

            &.___is-descending {
                span:after {
                    transform: scaleY(-1);
                }
            }

            &:hover,
            &.___is-active {
                span {
                    padding-right: 1.8rem !important;

                    &:after {
                        opacity: 1;
                    }
                }
            }

            span {
                position: relative;
                padding-right: 1.8rem;
                white-space: nowrap;
                transition: padding @trans-material-fast;

                .icon(dropdown, after);
                &:after {
                    position: absolute;
                    top: .7rem;
                    right: 0;
                    font-size: .5rem;
                    opacity: 0;
                    transition: transform @trans-fast, opacity @trans-fast;
                }
            }
        }
    }
}