// Position children next to each other with various options
.flexer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .card-event & {
        @media ( max-width: @screen-xs-max ) {
            flex-direction: column;
            align-items: stretch;
        }
    }

    &.___margin-top {
        margin-top: 4rem;

        @media ( max-width: @screen-xs-max ) {
            margin-top: 2rem;

            .modal.___blue & {
                margin-top: 4rem;
            }
        }
    }

    &.___margin-bottom {
        margin-bottom: 3rem;

        @media ( max-width: @screen-xs-max ) {
            margin-bottom: 1.5rem;
        }
    }

    &.___nowrap {
        flex-wrap: nowrap;
    }

    &.___gutter {
        margin-bottom: -1rem;

        &.___margin-bottom {
            margin-bottom: 2rem;

            @media ( max-width: @screen-xs-max ) {
                margin-bottom: .5rem;
            }
        }

        > * {
            margin-bottom: 1rem;
        }

        > *:not(:last-child) {
            margin-right: 2rem;

            @media ( max-width: @screen-xs-max ) {
                margin-right: 1.5rem;

                .card-event & {
                    margin-right: 0;
                }
            }
        }
    }

    &.___gutter-small {
        flex-wrap: nowrap;
        margin-bottom: -1rem;

        &.___margin-bottom {
            margin-bottom: 1rem;

            @media ( max-width: @screen-xs-max ) {
                margin-bottom: .5rem;
            }
        }

        > * {
            margin-bottom: 1rem;
        }

        > *:not(:last-child) {
            margin-right: 1rem;

            @media ( max-width: @screen-xs-max ) {
                margin-right: .5rem;
            }
        }

        .form__item {
            flex-grow: 1;
        }
    }

    &.___space-between {
        justify-content: space-between;
    }

    &.___end {
        justify-content: flex-end;
    }

    &.___top {
        align-items: flex-start;
    }

    &.___bottom {
        align-items: flex-end;
    }
}

.buttons {
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 0 0 0;
    flex-wrap: wrap;

    & > .button {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &.___no-margin {
        margin: 0;
    }

    &.___margin-top {
        margin-top: 4rem;

        @media ( max-width: @screen-xs-max ) {
            margin-top: 2rem;

            .modal.___blue & {
                margin-top: 4rem;
            }
        }
    }

    &.___margin-top-extra {
        margin-top: 6rem;

        @media ( max-width: @screen-xs-max ) {
            margin-top: 3rem;
        }
    }

    &.___gutter {
        margin-bottom: -1rem;

        > * {
            margin-bottom: 1rem;
        }

        > *:not(:last-child) {
            margin-right: 2rem;

            @media ( max-width: @screen-xs-max ) {
                margin-right: 1.5rem;
            }
        }
    }

    &.___space-between {
        justify-content: space-between;
    }

    &.___center {
        justify-content: center;
    }

    &.___end {
        justify-content: flex-end;
    }

    &.___hide-on-tablet {
        @media ( max-width: @screen-md-max ) {
            display: none;
        }
    }

    &.___vertical-mobile {
        @media ( max-width: @screen-xs-max ) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
