.lead {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: @color-white;
    color: @color-white;
    text-shadow: @text-shadow;
    text-align: center;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: block;
        background: fade(@color-quaternary, 25%);
        background: linear-gradient(
            to right,
            fade(@color-quaternary, 40%) 0%,
            fade(@color-quaternary, 0%) 100%
        );
    }

    &.___rounded {
        border-radius: 0.5rem;

        &:before {
            border-radius: 0.5rem;
        }

        .lead__justify {
            @media (min-width: @screen-sm) {
                min-height: 26rem;
            }
        }
    }

    &.___has-background {
        .button.___grey {
            background-color: fade(black, 50%);

            &:hover {
                background-color: fade(black, 75%);
            }
        }
    }

    &.___video {
        .lead__background {
            cursor: pointer;
        }
    }

    &.___text-align-left {
        text-align: left;

        .lead__title,
        .lead__subtitle {
            margin-left: 0;
            margin-right: 0;
            max-width: 58rem;
        }
    }

    &.___no-content {
        &:before {
            background: none;
        }
    }

    &.___group {
        @media (max-width: @screen-xs-max) {
            margin-bottom: -4.6rem;
            padding-bottom: 4.6rem;
        }

        @media (min-width: @screen-sm) {
            margin-bottom: -2.6rem;
            padding-bottom: 2.6rem;
        }

        &:not(.___has-background) {
            color: @color-primary;
            text-shadow: none;

            &:before {
                display: none;
            }

            .lead__justify {
                min-height: 0;
            }

            .lead__title {
                display: flex;
                align-items: center;

                span:after {
                    color: @color-grey--50;
                }
            }
        }

        .lead__justify {
            flex-direction: row;
            align-items: flex-start;
            justify-content: stretch;
            text-align: left;

            .button.___options {
                margin-left: auto;
            }

            @media (min-width: @screen-sm) {
                min-height: 26rem;
            }
        }

        .picture {
            width: 15rem;
            height: 15rem;
            margin-right: 3rem;

            @media (max-width: @screen-md-max) {
                display: none;
            }
        }

        .lead__title {
            margin: 0;
            cursor: pointer;

            span {
                .icon(info, after);
                &:after {
                    margin-left: 1.5rem;
                    font-size: 2.5rem;
                    position: absolute;
                    bottom: -0.2rem;
                    line-height: inherit;
                }

                @media (max-width: @screen-xs-max) {
                    &:after {
                        display: none;
                    }
                }

                @media (min-width: @screen-sm) {
                    position: relative;
                    margin-right: 5rem;
                }
            }
        }

        .flexer {
            flex-wrap: wrap;

            @media (min-width: @screen-md) {
                flex-shrink: 0;
            }
        }

        &.___compact {

            .lead__justify {
                min-height: 0;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }

            .lead__title {
                .font(title-small);
            }
        }
    }

    &.___event {
        .play-button {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
        }

        .lead__title {
            @media (min-width: @screen-sm) {
                .font(title-humongous);
            }
        }

        .flexer {
            @media (max-width: @screen-xs-max) {
                margin-top: 1.5rem;
            }

            @media (max-width: @screen-md-max) {
                width: 100%;
                flex-direction: column;
                align-items: stretch;
            }

            > *:not(:last-child) {
                @media (max-width: @screen-md-max) {
                    margin-right: 0;
                }
            }
        }

        @media (max-width: @screen-xs-max) {
            margin-bottom: -5.5rem;
            padding-top: 1rem;
            padding-bottom: 3.5rem;

            &.___video {
                padding-top: 0;
                color: @color-grey--60;
                text-shadow: none;

                &:before {
                    display: none;
                }

                .lead__title {
                    color: @color-secondary;
                }
            }
        }
    }

    &.___forum {
        > .container {
            position: relative;
            width: 100%;
            z-index: 1;
        }

        &:before {
            display: none;
        }
    }

    &.___home {
        overflow: hidden;
        transition: opacity @trans-normal, height @trans-material-normal,
            margin-top @trans-material-normal;

        .lead__justify {
            @media (max-width: @screen-xs-max) {
                min-height: 18rem;
            }

            @media (min-width: @screen-sm) {
                min-height: 32rem;
            }
        }

        .button {
            padding: 0;
            width: 16.6rem;
        }

        @media (max-width: @screen-xs-max) {
            margin-left: -2rem;
            margin-right: -2rem;

            .lead__subtitle {
                display: none;
            }

            .buttons {
                margin-top: 2rem;
            }
        }

        @media (max-width: @screen-md-max) {
            .button {
                width: 13rem;
            }
        }

        @media (min-width: @screen-sm) {
            border-radius: 0.5rem;
        }
    }

    &.___campagne {
        text-align: left;

        &:before {
            background: fade(@color-quaternary, 40%);
        }

        @media (max-width: @screen-xs-max) {
            text-align: center;
        }

        .lead__justify {
            @media (max-width: @screen-xs-max) {
                min-height: 26rem;
            }

            @media (min-width: @screen-sm) {
                min-height: 48rem;
            }
        }

        .lead__title,
        .lead__subtitle {
            margin-left: 0;
            margin-right: 0;
        }

        .lead__about {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            @media (max-width: @screen-xs-max) {
                flex-direction: column;
                padding-top: 4rem;
            }
        }
    }
}

.lead .read-more {
    margin-top: 1rem;
    color: white;
    text-shadow: none;
}

.lead__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    color: @color-white;
    transition: color @trans-fast;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;

    &:hover,
    &:focus {
        color: @color-secondary;
    }

    .icon(cross);
    &:before {
        font-size: 1.4rem;
    }

    @media (max-width: @screen-xs-max) {
        &:before {
            font-size: 1.2rem;
        }
    }
}

.lead__background {
    position: relative;
    background-color: @color-secondary--light;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (max-width: @screen-xs-max) {
        height: 13rem;
    }

    @media (min-width: @screen-sm) {
        .lead.___forum &,
        .lead.___event &,
        .lead.___group & {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .lead.___forum & {
            height: 20rem;
        }

        .lead.___event &,
        .lead.___group & {
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                display: block;
                background: fade(@color-quaternary, 25%);
                background: linear-gradient(
                    to right,
                    fade(@color-quaternary, 40%) 0%,
                    fade(@color-quaternary, 0%) 100%
                );
            }
        }
    }
}

.lead__justify {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    @media (max-width: @screen-xs-max) {
        min-height: 12.4rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    @media (min-width: @screen-sm) {
        min-height: 33rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .___forum & {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
    }

    > .container {
        width: 100%;
    }

    .lead.___event & {
        text-align: left;
    }
}

.lead__title {
    position: relative;
    max-width: 77rem;
    margin-left: auto;
    margin-right: auto;
    .font(title-extra-large);

    @media (min-width: @screen-sm) {
        .font(title-huge);
    }
}

.lead__subtitle {
    position: relative;
    max-width: 77rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    .font(small);

    @media (min-width: @screen-sm) {
        .font(title-small);
    }
}

.lead__button {
    margin: 1rem 0 0 0;
    float: right;
    text-shadow: none;

    .___blue & {
        background-color: @color-black;

        &:hover {
            color: @color-black;
            background-color: @color-white;
        }
    }
}
