.poll__result {
    display: flex;
    margin-bottom: 1rem;

    > span {
        flex: 0 0 auto;
        width: 5rem;
        padding-top: .1rem;
    }

    > label {
        flex: 1 1 auto;
        position: relative;

        span {
            display: block;
            position: relative;
            padding: .1rem 1rem;
        }
    }
}

.poll__result-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: .5rem;
    background-color: @color-grey--40;

    .___most-votes & {
        background-color: #99d8f3;
    }
}