.selector {
    position: relative;
    width: 100%;
    user-select: none;
    color: black;
    text-shadow: none;
    text-align: left;

    &.___no-line {
        .selector__select {
            &:not(:hover) {
                border-color: transparent;
            }
        }
    }

    &.___is-open {
        .selector__select:after {
            color: @color-grey--60;
            transform: scaleY(-1);
            z-index: 2;
        }
        .selector__options {
            opacity: 1;
            visibility: visible;
        }
    }

    &.___is-mobile-only {
        display: none;
    }

    &.___margin-top {
        margin-top: 2rem;
    }

    &.___margin-bottom {
        margin-bottom: 2rem;
    }

    @media ( max-width: @screen-xs-max ) {
        &.___margin-top-mobile {
            margin-top: 1rem;
        }

        &.___margin-bottom-mobile {
            margin-bottom: 1rem;
        }

        &.___no-margin-top-mobile {
            margin-top: 0;
        }
    }

    &.___is-mobile-only {
        display: none;

        @media ( max-width: @screen-xs-max ) {
            display: block;
            margin: 2rem 0;
        }
    }

    select {
        position: absolute;
        width: 100%;
        opacity: 0;
        z-index: -1;
    }

    &.___is-mobile {
        select {
            z-index: 1;
            height: 100%;
        }
    }
}

.selector__label {
    display: none;
}

.selector__select {
    display: flex;
    align-items: center;
    padding: 0 3.4rem 0 1.6rem;
    background-color: @color-white;
    color: @color-grey--80;
    height: 4.6rem;
    border: 1px solid @color-grey--50;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color @trans-fast, border-color @trans-fast;

    &.___has-focus {
        border-color: @color-secondary;
    }

    .selector.___filter & {
        color: @color-secondary;
        border-color: @color-secondary--light;

        &:hover,
        &.___has-focus {
            border-color: @color-secondary;
        }
    }

    .selector.___filter.___not-default & {
        background-color: @color-secondary--lightest;
        color: @color-black;
        border-color: @color-secondary--lightest;

        &:hover,
        &.___has-focus {
            border-color: @color-secondary;
        }
    }

    &.___not-selected {
        color: @color-grey--60;
    }

    .editor__tool-group#editor-insert & {
        .icon(plus);
        &:before {
            font-size: 1.4rem;
            margin-right: .8rem;
            margin-bottom: .3rem;
        }

        @media ( max-width: @screen-xs-max ) {
            &:after {
                display: none;
            }

            span {
                display: none;
            }
        }
    }

    .icon(angle-down, after);
    &:after {
        position: absolute;
        right: 1.6rem;
        font-size: 0.5rem;
        color: @color-black;
        line-height: inherit;
        pointer-events: none;
        transition: color @trans-fast, transform @trans-fast;
    }

    @media ( max-width: @screen-xs-max ) {
        padding: 0 2.8rem 0 1.4rem;
        line-height: 3.8rem;

        &:after {
            right: 1.4rem;
        }

        .modal & {
            padding: 0 3rem 0 1.6rem;
            line-height: 4.4rem;
        }
    }

    .editor__toolbar & {
        color: @color-grey--60;
        border: none;

        .icon(dropdown, after);

        &:after {
            position: absolute;
            right: 1.6rem;
            /* icon height */
            font-size: 0.4rem;
            color: @color-grey--60;
            line-height: inherit;
            pointer-events: none;
            transition: color @trans-fast, transform @trans-fast;
        }
    }
}

.selector__options {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5rem 0 .6rem;
    background-color: @color-white;
    border: 1px solid transparent;
    box-shadow: @box-shadow;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity @trans-fast, visibility @trans-fast;

    .___drop-up & {
        display: flex;
        flex-direction: column-reverse;
        top: auto;
        bottom: 0;
    }

    @media ( max-width: @screen-xs-max ) {
        padding: .4rem 0 .5rem;

        .modal & {
            padding: .5rem 0 .6rem;
        }

        .editor__tool-group#editor-insert & {
            left: auto;
        }
    }

    .editor__toolbar & {
        color: @color-grey--60;
        border: none;
    }
}

.selector__option {
    padding: .5rem 1.6rem;
    cursor: pointer;
    transition: color @trans-fast;

    @media ( max-width: @screen-xs-max ) {
        padding: .4rem 1.4rem;

        .editor__tool-group#editor-insert & {
            white-space: nowrap;
        }

        .modal & {
            padding: .5rem 1.6rem;
        }
    }

    &.___is-selected {
        color: @color-secondary;
        cursor: default;
    }

    &.___is-disabled {
        color: @color-grey--60;
        cursor: default;

        &:hover {
            color: @color-grey--60;
        }

        .editor__tool-group#editor-insert & {
            .icon(plus);
            &:before {
                font-size: 1.4rem;
                margin-right: .8rem;
                margin-bottom: .3rem;
            }
        }
    }

    &:hover {
        color: @color-secondary;
    }
}
