.tagField {
    flex-grow: 1;
    min-width: 300px;
    position: relative;
    display: block;
    background-color: @color-white;
    color: @color-grey--80;
    min-height: 4.6rem;
    border: 1px solid @color-grey--50;
    transition: color @trans-fast, border-color @trans-fast;
}

.tagfield_tags {
    padding: .9rem 4.4rem .9rem 1.6rem;
    flex-grow: 1;
    margin-bottom: -1rem;

    display: flex;
    flex-wrap: wrap;

    > * {
        margin-bottom: 1rem;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}

.tagfield_input {
    flex-grow: 1;
    width: 8rem !important;
    height: 2.6rem !important;
    padding: 0 !important;
    border: none !important;
}

.tagfield_expand {
    position: absolute;
    width: 4.4rem;
    height: 100%;
    top: 0;
    right: 0;
}

.tagfield_icon {
    flex-shrink: 0;
    width: 4.6rem;
    height: 4.6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    .icon(tune);
    &:before {
        font-size: 1.8rem;
        color: @color-grey--50;
    }
}