.tooltip {
    position: absolute;
    top: 100%;
    .font(small);
    background-color: white;
    color: black;
    cursor: auto;
    user-select: auto;
    box-shadow: @box-shadow-tooltip;

    visibility: hidden;
    opacity: 0;
    transform: translateY(-.5rem);
    transition: visibility @trans-fast, opacity @trans-fast, transform @trans-material-fast;

    &.___is-visible {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: visibility @trans-normal, opacity @trans-normal, transform @trans-material-normal;
    }

    .navigation__action.___notifications & {
        width: 47rem;
        right: -1.3rem;
    }

    .navigation__action.___account & {
        width: 16rem;
        right: -.7rem;
    }

    .top-navigation__action.___account & {
        width: 16rem;
        right: -.7rem;
        z-index: 1;
    }

    &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-bottom: 1rem solid white;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        position: absolute;
        top: -1rem;
        right: 2.5rem;
    }
}





@color_1: @color-grey--80;
@color_2: white;

@trans-distance: 10px;

@shadow_tooltip_top: 0 0 1px 0 fade(black, 13%), 0 2px 12px -2px fade(black, 10%);
@shadow_tooltip_bottom: 0 0 1px 0 fade(black, 13%), 0 -2px 12px -2px fade(black, 10%);

// .fade {
// 	transition-timing-function: @trans-bezier;
// 	transition-property: opacity, transform;
// 	// transition: opacity @trans-fast, transform @trans-material-fast;
// }

.fade-entering,
.fade-exiting {
	// transform: translateY(-5px);
	// opacity: 0;
  }

.tippy-touch {
	cursor: pointer !important;
}
.tippy-notransition {
	transition: none !important;
}

.tippy-popper {
	max-width: 400px;
	perspective: 800px;
	z-index: 9999;
	outline: 0;
	// transition-timing-function: @trans-bezier;

	&.light-theme[data-animatefill] {
		background-color: transparent;
	}
}

.tippy-tooltip-content {
	position: relative;
	text-shadow: none;
	border-radius: @border-radius-small;
}

.tippy-tooltip {
	&.light-theme {
		.tippy-tooltip-content {
			.font(medium);
			font-weight: normal;
			background-color: @color_2;
			color: black;

			[x-placement^=top] & {
				box-shadow: @shadow_tooltip_top;
			}

			[x-placement^=bottom] & {
				box-shadow: @shadow_tooltip_bottom;
			}
		}
	}

	&.dark-theme {
		pointer-events: none;

		.tippy-tooltip-content {
			// margin-top: 5px;
			background-color: @color_1;
			color: @color_2;
			.font(small);
			font-weight: bold;
			padding: 1px 10px 2px;
			text-align: center;
		}
	}
}

.tippy-tooltip--attached {
	.tippy-tooltip-content {
		border: 1px solid @color-grey--40;
	}

	&[x-placement^=top] .tippy-tooltip-content {
		margin-bottom: -1px;
		border-radius: @border-radius-small @border-radius-small 0 0;
	}
	&[x-placement^=bottom] .tippy-tooltip-content {
		margin-top: -1px;
		border-radius: 0 0 @border-radius-small @border-radius-small;
	}
}

.tippy-tooltip.html-template {
	max-width: 96%;
	max-width: calc(100% - 20px);
}

.arrow-regular {
	position: absolute;
	z-index: 1;
}

.example-enter {
	opacity: 0.01;
  }

  .example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
  }

  .example-leave {
	opacity: 1;
  }

  .example-leave.example-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
  }

.tippy-popper[x-placement^=top] {
	.arrow-regular {
		border-top: 5px solid @color_1;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		bottom: -5px;
	}

	[x-circle] {
		transform-origin: 0 33%;
	}
	[x-circle].enter {
		transform: scale(1) translate(-50%,-55%);
		opacity: 1;
	}
	[x-circle].leave {
		transform: scale(.15) translate(-50%,-50%);
		opacity: 0;
	}

	.light-theme {
		[x-circle] {
			background-color: @color_1;
		}

		.arrow-regular {
			border-top: 5px solid @color_2;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
		}
	}

	[data-animation=perspective] {
		transform-origin: bottom;
	}
	[data-animation=perspective].enter {
		opacity: 1;
		transform: translateY(-10px) rotateX(0);
	}
	[data-animation=perspective].leave {
		opacity: 0;
		transform: translateY(0) rotateX(90deg);
	}
	[data-animation=fade].enter {
		opacity: 1;
		transform: translateY(-10px);
	}
	[data-animation=fade].leave {
		opacity: 0;
		transform: translateY(-10px);
	}
	[data-animation=shift].enter {
		opacity: 1;
		transform: translateY(-10px);
	}
	[data-animation=shift].leave {
		opacity: 0;
		transform: translateY(0);
	}
	[data-animation=scale].enter {
		opacity: 1;
		transform: translateY(-10px) scale(1);
	}
	[data-animation=scale].leave {
		opacity: 0;
		transform: translateY(0) scale(0);
	}
}
.tippy-popper[x-placement^=bottom] {
	.arrow-regular {
		border-bottom: 5px solid @color_1;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		top: -5px;
	}

	[x-circle] {
		transform-origin: 0 -50%;
	}
	[x-circle].enter {
		transform: scale(1) translate(-50%,-45%);
		opacity: 1;
	}
	[x-circle].leave {
		transform: scale(.15) translate(-50%,-5%);
		opacity: 0;
	}

	.light-theme {
		[x-circle] {
			background-color: @color_1;
		}

		.arrow-regular {
			border-bottom: 5px solid @color_2;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
		}
	}

	[data-animation=perspective] {
		transform-origin: top;
	}
	[data-animation=perspective].enter {
		opacity: 1;
		transform: translateY(@trans-distance) rotateX(0);
	}
	[data-animation=perspective].leave {
		opacity: 0;
		transform: translateY(0) rotateX(-90deg);
	}
	[data-animation=fade].enter {
		opacity: 1;
		transform: translateY(@trans-distance);
	}
	[data-animation=fade].leave {
		opacity: 0;
		transform: translateY(@trans-distance);
	}
	[data-animation=shift].enter {
		opacity: 1;
		transform: translateY(@trans-distance);
	}
	[data-animation=shift].leave {
		opacity: 0;
		transform: translateY(0);
	}
	[data-animation=scale].enter {
		opacity: 1;
		transform: translateY(@trans-distance) scale(1);
	}
	[data-animation=scale].leave {
		opacity: 0;
		transform: translateY(0) scale(0);
	}
}

.tippy-popper[x-placement^=left] {
	.arrow-regular {
		border-left: 5px solid @color_1;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		right: -5px;
	}

	[x-circle] {
		transform-origin: 50% 0;
	}
	[x-circle].enter {
		transform: scale(1) translate(-50%,-50%);
		opacity: 1;
	}
	[x-circle].leave {
		transform: scale(.15) translate(-50%,-50%);
		opacity: 0;
	}

	.light-theme {
		[x-circle] {
			background-color: @color_1;
		}

		.arrow-regular {
			border-left: 5px solid @color_2;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
		}
	}

	[data-animation=perspective] {
		transform-origin: right;
	}
	[data-animation=perspective].enter {
		opacity: 1;
		transform: translateX(-10px) rotateY(0);
	}
	[data-animation=perspective].leave {
		opacity: 0;
		transform: translateX(0) rotateY(-90deg);
	}
	[data-animation=fade].enter {
		opacity: 1;
		transform: translateX(-10px);
	}
	[data-animation=fade].leave {
		opacity: 0;
		transform: translateX(-10px);
	}
	[data-animation=shift].enter {
		opacity: 1;
		transform: translateX(-10px);
	}
	[data-animation=shift].leave {
		opacity: 0;
		transform: translateX(0);
	}
	[data-animation=scale].enter {
		opacity: 1;
		transform: translateX(-10px) scale(1);
	}
	[data-animation=scale].leave {
		opacity: 0;
		transform: translateX(0) scale(0);
	}
}
.tippy-popper[x-placement^=right] {
	.arrow-regular {
		border-right: 5px solid @color_1;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		left: -5px;
	}

	[x-circle] {
		transform-origin: -50% 0;
	}
	[x-circle].enter {
		transform: scale(1) translate(-50%,-50%);
		opacity: 1;
	}
	[x-circle].leave {
		transform: scale(.15) translate(-50%,-50%);
		opacity: 0;
	}

	.light-theme {
		[x-circle] {
			background-color: @color_1;
		}

		.arrow-regular {
			border-right: 5px solid @color_2;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
		}
	}

	[data-animation=perspective] {
		transform-origin: left;
	}
	[data-animation=perspective].enter {
		opacity: 1;
		transform: translateX(10px) rotateY(0);
	}
	[data-animation=perspective].leave {
		opacity: 0;
		transform: translateX(0) rotateY(90deg);
	}
	[data-animation=fade].enter {
		opacity: 1;
		transform: translateX(10px);
	}
	[data-animation=fade].leave {
		opacity: 0;
		transform: translateX(10px);
	}
	[data-animation=shift].enter {
		opacity: 1;
		transform: translateX(10px);
	}
	[data-animation=shift].leave {
		opacity: 0;
		transform: translateX(0);
	}
	[data-animation=scale].enter {
		opacity: 1;
		transform: translateX(10px) scale(1);
	}
	[data-animation=scale].leave {
		opacity: 0;
		transform: translateX(0) scale(0);
	}
}

.tippy-tooltip-content--small {
	padding: .25rem .5rem;
	font-size: .8rem;
}
.tippy-tooltip-content--big {
	padding: .6rem 1.2rem;
	font-size: 1.2rem;
}
.tippy-tooltip-content[data-animatefill] {
	overflow: hidden;
	background-color: transparent;
}
.tippy-tooltip-content[data-interactive] {
	pointer-events: auto;
}
.tippy-tooltip-content[data-inertia] {
	// transition-timing-function: @trans-bezier;
}

@media ( max-width: @screen-xs-max ) {
	.tippy-tooltip {
		max-width: 96%;
		max-width: calc(100% - 20px);
	}
}


