.users-online {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 0 0 1rem;
    height: 3.4rem;
    .font(small);
    color: @color-secondary--light;
    user-select: none;

    .icon(users);
    &:before {
        font-size: 2rem;
        margin-right: .7rem;
    }

    &.___grey {
        color: @color-grey;

        &:before {
            color: @color-grey--50;
        }
    }

    @media ( max-width: @screen-xs-max ) {
        .font(small);

        &:before {
            display: none;
        }
    }

    @media ( max-width: @screen-md-max ) {
        &.___grey {
            display: none;
        }
    }
}
