.section__buttons {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 2;
    pointer-events: none;

    button, div {
        pointer-events: all;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        width: 4.4rem;
        height: 4.4rem;
        margin-top: auto;
        margin-bottom: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        color: @color-grey--60;

        opacity: 0;
        transition: opacity @trans-fast, color @trans-fast, transform @trans-material-fast;

        &:nth-child(2) {
            transition: color @trans-fast, opacity @trans-fast .05s, transform @trans-material-fast .05s;
        }

        &:hover {
            color: @color-grey--80;
        }

        .section:hover & {
            transform: translateX(0);
            opacity: 1;
        }

        &.___move {
            .icon(move);
            &:before {
                font-size: 2rem;
                margin-right: .3rem;
            }
        }

        &.___grab {
            left: 2rem;
            transform: translateX(calc(~'-100% - 2rem'));

            .icon(grab);
            &:before {
                font-size: 1.4rem;
                margin-right: .3rem;
            }
        }

        &.___delete {
            right: 2rem;
            transform: translateX(calc(~'100% + 2rem'));

            .icon(delete-fill);
            &:before {
                font-size: 2rem;
            }
        }
    }
}