.article {
    position: relative;
}

.article__title {
    .font(title-extra-large);
    color: @color-secondary;
    margin: 0 0 2rem 0;

    @media ( max-width: @screen-xs-max ) {
        .font(title-large);
        margin: 0 0 1rem 0;
    }
}

.article-meta {
    .font(small);
    margin: 0 0 4rem 0;

    @media ( max-width: @screen-xs-max ) {
        .font(small);
        margin-bottom: 2rem;
    }
}

.article-meta__date {
    display: inline;
    margin: 0 1rem 0 0;
    color: @color-primary;
}

.article-meta__source {
    display: inline;
    color: @color-grey--60;

    span {
        color: @color-primary;
    }
}

.article-intro {
    font-weight: bold;
}

.article-links-list {
    padding: 0 0 2rem 0;
}

.article-links-list__link {
    a {
        color: @color-primary;
        font-weight: bold;
        text-decoration: none;
        border: none;
        .icon(angle-right);

        &:before {
            margin: 0 1rem 0.25rem 0;
            transition: transform @trans-fast;
        }

        &:hover {
            color: @color-quaternary;

            &:before {
                transform: translate(0.35rem, 0);
            }
        }
    }
}

.article-highlight {
    position: relative;
    margin: 0 0 2rem 0;
    padding: 0 0 0 1.4rem;

    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0.5rem;
        bottom: 0.5rem;
        width: 0.4rem;
        background-color: @color-quaternary;
    }
}

/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

.article-links {
    margin: 2rem 0 0 0;
    padding: 2rem;
    background-color: @color-primary;

    h2 {
        color: @color-primary;
        font-size: @font-size--title-small;
        line-height: @line-height--title-small;
        padding: 0 0 1rem 0;
    }
}

.article-links__link {
    a {
        color: @color-black;
        text-decoration: none;
        border: none;
        .icon(angle-right);
        transition: color @trans-fast;

        &:before {
            margin: 0 1rem 0.25rem 0;
            transition: transform @trans-fast;
        }

        &:hover {
            color: @color-quaternary;

            &:before {
                transform: translate(0.35rem, 0);
            }
        }
    }

    span {
        color: @color-quaternary;
    }
}

.article-comments__count {
    margin: 0 0 2rem 0;
    color: @color-grey--80;

    .icon(comments);
    &:before {
        margin: 0 1rem .2rem 0;
        font-size: 2rem;
        color: @color-grey--50;
    }
}

.article-comments__more {
    color: @color-primary;
    font-weight: bold;
    cursor: pointer;

    .icon(angle-down);
    &:before {
        font-size: 0.6rem;
        margin: 0 0.5rem 0 0;
    }

    &:hover {
        color: @color-secondary;
    }

    opacity: 1;
    transition:all .25s;

    &.___hidden {
        pointer-events: none;
        opacity: 0;
        height: 0;
    }
}

.article-comments__more-container {
    overflow: hidden;
	max-height: 0;
    transition: max-height @trans-normal, opacity @trans-normal;
    opacity: 0;

    &.___show {
        overflow: auto;
        max-height: 9999rem;
        opacity: 1;
    }
}

.article-preview__card {
    position: fixed;
    background-color: white;
    top:11rem;
    right:1rem;

    padding: 3rem;
    max-width: 33rem;
    width: ~"calc(100% - 2rem)";

    box-shadow: @box-shadow;
    z-index: 1;



    @media (max-width: @screen-md-max) {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        box-shadow: none;
        padding: 0;
        margin-bottom: 2rem;
    }
}

.article-preview__text,
.article-preview__title {
    color: @color-secondary;
    .font(title-small);
    @media (max-width: @screen-md-max) {
        display: none;
    }
}

.article-preview__title {
    font-weight: bold;
}

.article-preview__text {
    margin-bottom: 5rem;
}

.article-preview__actions {
    display: flex;
    justify-content: center;
    @media (max-width: @screen-md-max) {
        justify-content: flex-start;
    }

    & > .button {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}
