.editor {
    position: relative;
    width: 100%;
    border: 1px solid @color-grey--50;
    padding-top: 4.6rem;
}

.editor__toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border-bottom: 1px solid @color-grey--50;
    z-index: 1;

    .editor.___is-sticky & {
        position: fixed;
        top: 0;
        left: auto;
        right: auto;
    }
}

.editor__tool-group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media ( min-width: @screen-sm ) {
        &:not(:last-child) {
            border-right: 1px solid @color-grey--50;
        }
    }

    &#editor-format {
        @media ( max-width: @screen-xs-max ) {
            display: none;
        }
    }

    &#editor-insert {
        flex-grow: 1;
    }
}

.editor__tool {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4.6rem;
    color: @color-grey--60;
    cursor: pointer;
    transition: color @trans-fast;

    &:first-child {
        margin-left: .4rem;
    }

    &:last-child {
        margin-right: .4rem;
    }

    &:hover {
        color: @color-grey--80;
    }

    &.___is-active {
        color: @color-primary;
    }

    @media ( max-width: @screen-xs-max ) {
        display: none;
    }

    &.___bold {
        .icon(bold);
        &:before {
            font-size: 1.4rem;
        }
    }

    &.___italic {
        .icon(italic);
        &:before {
            font-size: 1.4rem;
        }
    }

    &.___underlined {
        .icon(underlined);
        &:before {
            margin: 0.1rem 0 0 0;
            font-size: 1.6rem;
        }
    }

    &.___ol {
        .icon(ol);
        &:before {
            font-size: 1.6rem;
        }
    }

    &.___ul {
        .icon(ul);
        &:before {
            font-size: 1.47rem;
        }
    }

    &.___hyperlink {
        .icon(hyperlink);
        &:before {
            font-size: 1rem;
        }
    }

    &.___image {
        margin-left: auto;
        .icon(camera);
        &:before {
            font-size: 1.7rem;
        }
    }

    &.___quote {
        .icon(quote);
        &:before {
            font-size: 1.3rem;
        }
    }

    @media ( max-width: @screen-xs-max ) {
        &.___bold,
        &.___italic,
        &.___ul,
        &.___ol,
        &.___insert {
            display: flex;
        }

        &.___insert {
            margin-left: auto;

            span {
                display: none;
            }
        }
    }

    &.___insert {
        width: auto;
        padding: 0 1rem;
        justify-content: flex-start;

        .icon(plus);
        &:before {
            font-size: 1.4rem;
            margin-right: .8rem;
            margin-bottom: .3rem;
        }

        @media ( min-width: @screen-sm ) {
            flex-grow: 1;
        }
    }
}

.editor__input {
    background-color: white;
    padding: 1.4rem 1.6rem;

    .comment-add &,
    .comment-edit & {
        padding-bottom: 7rem;
    }

    a {
        color: @color-secondary;
        border-bottom: 1px solid transparent;
        transition: border-color @trans-fast;

        &:hover {
            border-color: @color-secondary;
        }
    }

    .editor__link {
        position: relative;
    }
}

.editor__upload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    margin: 0 0 2rem 0;
    border: 0.2rem dashed @color-grey--40;
    border-radius: 0.5rem;
    cursor: pointer;
    user-select: none;
    transition: border-color @trans-fast, background-color @trans-fast;

    &.___is-uploaded,
    &:hover {
        border-color: @color-secondary;
    }

    &.___error {
        .font(small);
        text-align: center;
        border-color: @color-error;
        color: @color-error;
    }

    > span {
        color: @color-primary;
        transition: opacity @trans-fast;
    }

    &.___is-uploaded > span {
        opacity: 0;
    }
}

.editor__upload-progress {
    position: absolute;
    padding: 2rem 0 0 0;

    > span {
        margin: 0.5rem 0 0 0;
        display: block;
        .font(small);
        color: @color-grey--80;
        text-align: center;
    }
}

.editor__progress-bar {
    position: relative;
    width: 8rem;
    height: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: @color-grey--40;

    &:before {
        position: absolute;
        content: '';
        background-color: @color-grey--80;
        width: 70%;
        height: 100%;
    }
}

.editor__actions {
    padding: 2rem;
}

.editor__input {
    cursor: text;
}
