.form {
    .modal.___full & {
        max-width: 64.8rem;
        margin: 0 auto;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        height: 4.6rem;
        padding: 0 1.6rem;
        border: 0.1rem solid @color-grey--50;
        transition: border-color @trans-fast;

        &[disabled] {
            opacity: 0.25;
        }

        &:not([disabled]) {
            &:hover,
            &:focus {
                border-color: @color-secondary;
            }
        }

        &.___error {
            border-color: @color-error;
        }

        .editor & {
            height: 4rem;
        }

        @media ( max-width: @screen-xs-max ) {
            height: 4rem;
            padding: 0 1.4rem;

            .modal & {
                height: 4.6rem;
                padding: 0 1.6rem;
            }
        }
    }

    textarea {
        display: block;
        width: 100%;
        height: 13.8rem;
        padding: 1.1rem 1.6rem;
        border: 0.1rem solid @color-grey--50;
        transition: border-color @trans-fast;
        resize: none;

        &:hover,
        &:focus {
            border-color: @color-secondary;
        }

        @media ( max-width: @screen-xs-max ) {
            padding: 1.1rem 1.4rem;
        }
    }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: @color-grey--60;
}

input::-moz-placeholder,
textarea::-moz-placeholder { /* Firefox 19+ */
    color: @color-grey--60;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder { /* IE 10+ */
    color: @color-grey--60;
}

input:-moz-placeholder,
textarea:-moz-placeholder { /* Firefox 18- */
    color: @color-grey--60;
}

.form__item {
    display: block;
    margin: 0 0 2rem 0;

    &.___no-margin {
        margin: 0;
    }

    @media ( max-width: @screen-md-max ) {
        &.___margin-top-tablet {
            margin-top: 2rem;
        }
    }
}

.form__error {
    padding: 0.6rem 0 0 0;
    color: @color-error;
    font-size: @font-size--medium;
    line-height: @line-height--medium;
}

.form__label {
    display: block;
    font-weight: bold;
    margin: 0 0 0.5rem 0;

    &.___margin-top {
        margin-top: 2rem;
    }
}

.form__link {
    font-size: @font-size--medium;
    line-height: 2.4rem;
    color: @color-grey--60;
    margin: 0 2rem 0 0;
    transition: color @trans-fast;

    &:hover {
        color: @color-grey--80;
    }

    &.___block-mobile {
        @media ( max-width: @screen-xs-max ) {
            display: block;
            margin: 0 0 1rem 0;
        }
    }
}

.form__conditions {
    padding: 0.5rem 1rem;
    background-color: @color-grey--20;
    font-size: @font-size--medium;
    line-height: @line-height--medium;
}

.form__date {
    .icon(calendar);
}

.form__time {
    .icon(clock);
}

.form__date,
.form__time {
    position: relative;

    &:before {
        position: absolute;
        left: 1.6rem;
        top: 0;
        bottom: 0;
        font-size: 1.5rem;
        color: @color-grey--60;
        display: flex;
        align-items: center;
    }

    &:hover:before {
        z-index: 2;
    }

    input {
        padding-left: 3.8rem !important;
    }
}
