@import "draft-style";

.public-DraftEditorPlaceholder-root {
    color: @color-grey--60;
    position: absolute;
    z-index: 0;
}

.___hide-placeholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.form__item.form__item-error .rich-editor__editor {
    border-color: @color-error;
}

input.___is-hidden {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.selector__options {
    z-index: 2;
}

.contextual {
    &.___is-visible {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.profile__editor {
    width: 100%;
}

.profile__textarea {
    width: 100%;
    resize: none;
    min-height: 22rem;
    border: 0;
}

figure {
    margin: 0;
}

.content {
    &.__float-left {
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &.__float-right {
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.content iframe {
    min-height: 300px;
}

.editor__tool {
    user-select: none;
}

body.modal__open {
    overflow: hidden;
}

.messages {
    padding-bottom: 1rem;
    &.error {
        color: @color-error;
    }
}

.form__conditions .form__item {
    margin: 0;
}

.widget {
    position: relative;

    .widget__admin {
        display: none;
    }
}

.widget {
    &:hover {
        .widget__admin {
            display: block;
        }
        .widget__drag {
            display: block;
        }
    }
}

.widget__row {
    .___selected {
        padding: 2px solid red;
    }
}

.widget__add {
    position: absolute;
    border-radius: 0.5rem;
    z-index: 1;
    color: white;
    right: 0;
    margin: 50px;
    padding: 10px;
}

.widget__admin {
    z-index: 1;
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    color: @color-grey--60;
}

.widget__admin {
    padding: 1.5rem;

    .___edit {
        float: left;
        padding: 0.5rem;
        .icon(pencil);
        cursor: pointer;
        &:before {
            margin: 0 0.5rem 0.2rem 0;
            font-size: 1.5rem;
        }

        &:hover,
        &:focus {
            color: @color-secondary;
        }
    }
    .___delete {
        float: left;
        padding: 0.5rem;
        .icon(delete);
        cursor: pointer;
        &:before {
            margin: 0 0.5rem 0.2rem 0;
            font-size: 1.5rem;
        }

        &:hover,
        &:focus {
            color: @color-secondary;
        }
    }

    .___close {
        float: left;
        padding: 0.5rem;
        .icon(cross);
        cursor: pointer;
        &:before {
            margin: 0 0.5rem 0.2rem 0;
            font-size: 1.5rem;
        }

        &:hover,
        &:focus {
            color: @color-secondary;
        }
    }
}

.widget__drag {
    display: none;
    z-index: 2;
    background-color: @color-secondary;
    border: 1px solid #fff;
    border-radius: 8px;
    height: 16px;
    width: 16px;
    position: absolute;
    cursor: ew-resize;
    top: 50%;
    right: 0;
}

.page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.video-modal {
    z-index: 12;
}

.modal__close {
    .modal.___blue > & {
        color: @color-grey--60;

        @media (min-width: @screen-sm) {
            color: @color-white;
        }
    }
}

.infinite-scroll__spinner {
    width: 100%;
    padding: 1.5em;
    text-align: center;
}

.infinite-scroll__spinner img {
    margin: 0 auto;
}

.right-lg {
    margin-left: auto;
}

.___left {
    float: left;
}

.___right {
    float: right;
}

.document a span {
    color: @color-secondary;
}

.article-meta__source span {
    color: @color-primary;
}

.page-layout.___no-nav {
    padding-top: 0 !important;
}

.invite-autocomplete {
    position: relative;
}

.invite-list {
    max-height: 200px;
    overflow-x: scroll;
}

.invite-list__results {
    z-index: 2;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: @box-shadow;
    position: absolute;
    padding: 1rem;
    top: 4.6rem;
    left: 0;
    right: 0;
}

.st0 {
    fill: #b4b4b4;
}

.lead__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-tile {
    @media (max-width: @screen-xs-max) {
        .read-more {
            color: @color-white;
        }
    }
}

.button__text {
    word-break: initial;
}

.toolbar {
    opacity: 0;

    &.___is-visible {
        opacity: 1;
    }
}

.file-tile__name span:first-child {
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.cms-block-html {
    width: 100%;
}

.editor.___is-inline {
    padding-top: 0;

    .editor__toolbar {
        top: -4em;
        left: 0;
        width: 70rem;
        border: 1px solid @color-grey--50;
        z-index: 20;
    }

    .editor__input {
        height: 100%;
    }
}

.section {
    position: relative;
}

.subnav__parent > a:after {
    display: none;
}

.tree-view__folder {
    &:hover {
        > .tree-view__folder {
            margin-left: 4rem;
            transition: margin-left @trans-material-normal;

            > span {
                opacity: 0;
                height: 0;
                transition: opacity @trans-normal, height @trans-material-normal;
            }
        }

        > span {
            &:before {
                transform: rotate(-90deg);
            }
        }
    }

    &.___is-open {
        > .tree-view__folder {
            margin-left: 4rem;
            transition: margin-left @trans-material-normal;

            > span {
                opacity: 1;
                height: 3.8rem;
                transition: opacity @trans-normal, height @trans-material-normal;
            }
        }

        > span {
            &:before {
                transform: rotate(0);
            }
        }
    }

    &.___selected {
        > span {
            background-color: @color-secondary--bright;
        }
    }
}

.list-members__name {
    font-weight: normal;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.lead.___group .flexer {
    margin-left: auto;
}

.card-document__format {
    &.___folder {
        .icon(folder);
        &:before {
            color: @color-white;
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: @screen-sm) {
    .card .picture {
        display: none;
    }
}

.comment-add__wrapper.___is-open {
    z-index: 10;
}

.card-edit {
    position: absolute;
    top: 3rem;
    right: 3rem;
    .font(small);
    color: @color-primary;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: opacity @trans-fast, visibility @trans-fast;

    .icon(pencil);
    &:before {
        font-size: 1.5rem;
        margin: 0 0.5rem 0.2rem 0;
    }

    @media (max-width: @screen-xs-max) {
        .___can-edit & {
            opacity: 1;
            visibility: visible;
        }
        span {
            display: none;
        }
    }

    @media (min-width: @screen-sm) {
        .card-blog-post:hover & {
            opacity: 1;
            visibility: visible;
        }
    }
}

.group-info {
    height: 100%;
}

.group-info__content.___scrollable {
    display: flex;
    flex-direction: column;
}

.list-members {
    padding-top: 1em;
}

.list-members.___scrollable {
    overflow-y: auto;
    height: 100%;
}

body.___leraar {
    .navigation__search {
        display: flex;

        @media (max-width: @screen-md-max) {
            display: none;
        }

        max-width: 15rem;
        padding-left: 1rem;
        padding-right: 1rem;
        align-items: center;

        input {
            border-radius: 3px;
            width: 100%;
            height: 4rem;
            background-color: white;
            border: none;
        }
    }
}

.tabmenu__search-container {
    display: flex;
    @media (max-width: @screen-xs-max) {
        display: none;
    }

    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
    max-width: 20rem;

    input {
        border-radius: 0.2rem;
        width: 100%;
        height: 4.2rem;
        border: none;
        background-color: white;
    }
}

.___not-visible-on-mobile {
    @media (max-width: @screen-xs-max) {
        display: none;
    }
}

.cms__panel {
    button {
        &.___add {
            .icon(plus);
            &:before {
                font-size: 1.6rem;
            }
        }
    }
}

.___padding-top {
    padding-top: 2rem;
}

.___no-padding {
    padding: 0;
}

.___no-padding-mobile {
    @media (max-width: @screen-xs-max) {
        padding: 0;
    }
}

.users-online {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.modal__box p {
    a {
        color: @color-secondary;
        border-bottom: 1px solid transparent;
        transition: border-color @trans-fast;

        &:hover {
            border-color: @color-secondary;
        }
    }
}

.list-members__owner {
    width: 100%;
    padding: 0 3rem 0 1.6rem;
    line-height: 4.4rem;
    max-width: 14rem;
    margin-left: 2rem;
    color: @color-grey--80;
}

.group-info__description {
    margin-bottom: 1rem;
}

.option-list {
    max-height: 40rem;
}

.card-group {
    &.___is-highlighted {
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 0.4rem;
            background-color: @color-lightblue;
        }
    }
}

.file__owner span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1rem 0;
    transition: color 0.2s ease;
}

.lead {
    &.___group {
        .lead__justify {
            justify-content: flex-start;
        }
    }
}

.tree-view__folder {
    &.___is-file {
        margin-left: 6rem;

        > span:before {
            content: "";
        }
    }
}

.please-wait__container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.please-wait__text {
    flex: none;
    max-width: 50%;
}

.subnav {
    margin-bottom: 2em;
}

.button__text {
    &.___export {
        margin: 0 0 1rem 0;
        padding: 0 1rem;
        font-weight: normal;
        color: @color-grey--60;

        &:hover {
            color: @color-secondary;
        }
    }
}

.activity-list {
    width: 100%;
}

.___margin-mobile-top {
    margin-top: 2rem;
}

.card-event__content {
    overflow: auto;
}


.___disabled {
    cursor: auto;
}
