// Core
// -------------------------------
@import "core/normalize";
@import "core/base";
@import "core/fonts";
@import "core/grid";
@import "core/icons";
@import "core/typography";
@import "core/variables";
@import "core/helpers";
// Layout
// -------------------------------
@import "layout/footer";
@import "layout/header";
@import "layout/mobile-navigation";
@import "layout/navigation";
@import "layout/page-layout";
@import "layout/submenu";
@import "layout/subnav";
@import "layout/top-navigation";
// Components
// -------------------------------
@import "components/http-error";
@import "components/button";
@import "components/autosuggest";
@import "components/breadcrumb";
@import "components/card";
@import "components/calendar";
@import "components/card-blog-post";
@import "components/card-contact";
@import "components/card-document";
@import "components/card-event";
@import "components/card-initiative";
@import "components/card-list-bloggers";
@import "components/card-list-recommended";
@import "components/card-list-topics";
@import "components/card-list-trending";
@import "components/card-profile";
@import "components/card-tile";
@import "components/card-group";
@import "components/card-topic";
@import "components/checkbox";
@import "components/cookie-notification";
@import "components/count-bookmarks";
@import "components/count-likes";
@import "components/face";
@import "components/file-tile";
@import "components/file-view";
@import "components/file";
@import "components/files";
@import "components/flexer";
@import "components/document";
@import "components/goto";
@import "components/lead";
@import "components/link";
@import "components/link-list";
@import "components/list-members";
@import "components/poll";
@import "components/people";
@import "components/picture";
@import "components/toolbar";
@import "components/tooltip";
@import "components/tree-view";
@import "components/mini-tabmenu";
@import "components/notification";
@import "components/contextual";
@import "components/comment";
@import "components/comment-add";
@import "components/comment-edit";
@import "components/modal";
@import "components/option-list";
@import "components/play-button";
@import "components/radio";
@import "components/read-more";
@import "components/selector";
@import "components/single-dropdown";
@import "components/switch";
@import "components/tabber";
@import "components/tabmenu";
@import "components/search-bar";
@import "components/tag";
@import "components/tagField";
@import "components/users-online";
@import "components/video";
@import "components/attendees";
// Modules
@import "modules/accordion";
@import "modules/article-actions";
@import "modules/article-author";
@import "modules/article";
@import "modules/edit-picture";
@import "modules/editor";
@import "modules/campagne";
@import "modules/form";
@import "modules/forum";
@import "modules/group-info";
@import "modules/infinite-scroll";
@import "modules/navigation-search";
@import "modules/navigation-search-results";
@import "modules/pagination";
@import "modules/relevant-articles";
@import "modules/section";
@import "modules/slick-slider";
@import "modules/slick-slide";
@import "modules/upload-image";
@import "modules/cropper";
// CMS
@import "cms/cms";
@import "cms/cms-overlay";
@import "cms/cms-block";
@import "cms/cms-section";
// Mixins
// -------------------------------
@import "mixins/ellipsis.less";
@import "modules/content"; // specifity wars
@import "pleio";

#__bs_notify__ {
    opacity: .15 !important;
    pointer-events: none;
}
