.header__top {
	position: relative;
	width: 100%;
	height: 7rem;
	background-color: @color-white;

	@media(min-width: @screen-md) {
		height: 8rem;
	}
}

.header__logo {
	display: flex;
	align-content: center;
	justify-content: center;

	a {
		display: block;
	}

	img {
		display: block;
		width: auto;
		height: 6rem;

		@media(min-width: @screen-md) {
			height: 7rem;
		}
	}
}

.header__background {
	display: none;

	@media (min-width: @screen-sm) {
		display: block;
		height: 39.6rem;
		background-size: cover;
		background-position: center;
	}
}