.mobile-navigation__bar {
    position: relative;
    display: flex;
    justify-content: space-between;

    @media (min-width: @screen-lg) {
        display: none;
        .___mega & {
            display: flex;
        }
    }
}

.mobile-navigation__spacer {
    height: 2rem;

    @media (min-width: @screen-lg) {
        display: none;
    }
}

.mobile-navigation__home {
    position: absolute;
    width: 7rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;

    .icon(home);
    &:before {
        width: 100%;
        color: @color-white;
    }

    @media (max-width: @screen-xs-max) {
        line-height: 4.5rem;
        &:before {
            font-size: 2.2rem;
        }
    }

    @media (min-width: @screen-sm) {
        line-height: 5.2rem;
        &:before {
            font-size: 2.8rem;
        }
    }
}

.mobile-navigation__actions {
    display: flex;

    @media (min-width: @screen-lg) {
        float: right;
    }
}

.mobile-navigation__action {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 4.6rem;
    padding: 0 1.2rem;
    color: white;
    text-decoration: none;
    transition: background-color @trans-fast, color @trans-fast;
    cursor: pointer;

    .___absolute & {
        color: @color-white;
    }

    &.___bookmarks {
        .icon(bookmark);

        &:hover {
            color: white;
        }

        &:before {
            /* icon height */
            font-size: 2.1rem;
        }

        @media (max-width: @screen-md-max) {
            &.___is-active {
                color: @color-white;
            }
        }
    }

    &.___search {
        .icon(search);
        &:hover {
            color: @color-grey;
        }
        @media (max-width: @screen-xs-max) {
            line-height: 4.5rem;
            &:before {
                font-size: 1.7rem;
            }
        }
        @media (min-width: @screen-sm) {
            line-height: 5.2rem;

            &:before {
                font-size: 2.1rem;
            }
        }
    }

    @media (min-width: @screen-lg) {
        span {
            display: none;
        }
    }

    &.___login,
    &.___register {
        padding: 0;
        color: @color-white;
        &:hover {
            color: @color-grey;
        }
    }

    &.___login {
        &:after {
            content: '/';
            color: @color-secondary--light;
            margin: 0 0.5rem;
            .navigation.___absolute & {
                color: white;
            }
        }
    }
}

.mobile-navigation__picture {
    width: 4rem;
    height: 4rem;
    content: '';
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 0 0.1rem transparent;
    transition: box-shadow @trans-fast;

    .mobile-navigation__action:hover & {
        box-shadow: inset 0 0 0 0.1rem @color-grey;
    }
}

.navigation__dropdown.___mobile {
    @media (min-width: @screen-lg) {
        display: none;
    }
}

.mobile-navigation__trigger {
    line-height: 4.6rem;
    padding: 0 1rem;
    font-weight: bold;
    color: white;
    overflow: hidden;
    cursor: pointer;
    text-align: center;

    .icon(mobile-menu);
    &:before {
        font-size: 1.6rem;
    }
}

.mobile-navigation__close {
    text-align: right;

    @media (min-width: @screen-lg) {
        display: none;
    }

    span {
        font-size: 1.2rem;
        color: @color-grey--60;
        padding: 2rem;
        cursor: pointer;
        transition: color @trans-fast;
        &:hover {
            color: @color-secondary;
        }
    }
}

.mobile-navigation__search {
    position: relative;
    line-height: 4rem;
    padding: 0 0 0 2rem;
    background-color: @color-secondary--lightest;

    @media (min-width: @screen-lg) {
        display: none;
    }

    .icon(search);
    &:before {
        position: absolute;
        /* icon height */
        font-size: 1.2rem;
        color: @color-primary;
        line-height: inherit;
    }

    label {
        display: none;
    }

    input {
        background-color: transparent;
        border: none;
        width: 100%;
        height: 4rem;
        padding: 0 0 0 2rem;
    }
    ::-webkit-input-placeholder {
        /* Safari, Chrome and Opera */
        color: @color-secondary--light;
        font-weight: bold;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        color: @color-secondary--light;
        font-weight: bold;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: @color-secondary--light;
        font-weight: bold;
    }
    :-ms-input-placeholder {
        /* IE 10+ */
        color: @color-secondary--light;
        font-weight: bold;
    }
    :-ms-input-placeholder {
        /* Edge */
        color: @color-secondary--light;
        font-weight: bold;
    }
}