.page-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-layout__header {
    flex: 0 0 auto;
    position: relative;

    body.___no-nav & {
        display: none;
    }
}

.page-layout__main {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;

    > * {
        flex-shrink: 0;
    }
}