.subnav {
    max-width: 28rem;
    padding: 1.5rem 0;
    background-color: white;
    .font(small);
    box-shadow: @box-shadow;

    // Main page
    > a {
        font-weight: bold;
    }

    a {
        display: block;
        padding: .3rem 3rem .4rem;
        transition: background-color @trans-fast, color @trans-fast;

        &:hover {
            background-color: @color-grey--10;
        }

        &.___is-active {
            color: @color-secondary;
        }
    }
}

.subnav__parent {
    > a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon(angle-down);
        &:before {
            position: absolute;
            right: 2rem;
            font-size: .6rem;
            margin-bottom: .1rem;
            transition: transform @trans-material-fast;
        }
    }

    &.___is-open {
        > a {
            &:before {
                transform: scaleY(-1);
            }
        }
    }

    &.___is-open {
        > .subnav__children {
            height: auto;
            opacity: 1;
        }
    }
}

.subnav__children {
    // height: 0;
    // opacity: 0;
    overflow: hidden;
    transition: opacity @trans-fast, height @trans-material-fast;

    a {
        padding-left: 5rem;
    }
}