.top-navigation {
    background-color: @color-grey--20;

    @media (max-width: @screen-md-max) {
        display: none;
    }
}

.top-navigation__link {
    line-height: 3rem;
    display: inline-block;
    margin-left: 2rem;
    font-size: @font-size--small;
    color: @color-grey--80;
    text-decoration: none;
    transition: color @trans-fast;

    &.___is-active {
        color: @color-black;
    }

    &:hover {
        color: @color-black;
    }

    &:first-child {
        margin-left: 0;
    }
}

.top-navigation__action {
    line-height: 3rem;
    display: inline-block;
    margin-left: 2rem;
    font-size: @font-size--small;
    color: @color-grey--80;
    text-decoration: none;
    transition: color @trans-fast;

    &.___is-active {
        color: @color-black;
    }

    &:hover {
        color: @color-black;
    }

    &:first-child {
        margin-left: 0;
    }

    text-decoration: none;
    transition: background-color @trans-fast, color @trans-fast;
    cursor: pointer;


    &.___account {
        position: relative;
        display: flex;
        align-items: center;

        @media (max-width: @screen-md-max) {
            padding: 0 2rem;
        }

        @media (min-width: @screen-lg) {
            span {
                display: none;
            }
        }
    }
}

.top-navigation__action.___right img {
    max-width: 2.2rem;
    border-radius: 50%;
    position: absolute;
    top: 0.4rem;
    transition: transform 0.25s ease;
    margin-left: -2.8rem;
}