p {
    margin: 0 0 2rem 0;

    &:last-child {
        margin-bottom: 0;
    }
}

h1, h2, h3, h4, h5, h6, strong {
    margin: 0;
}

.title {
    margin-bottom: 1.5rem;
    .font(title-small);
    font-weight: bold;
    color: @color-primary;

    .toolbar.___blue & {
        color: white;
    }

    @media ( max-width: @screen-xs-max ) {
        .font(large);
    }

    small {
        font-weight: normal;
        margin-left: 1rem;
    }
}

.___colored {
    color: @color-secondary;
}

.___greyed {
    color: @color-grey--60;
}