// Colors
// -------------------------------

@color-primary: #01689b;
@color-primary--light: #3887ad;

@color-secondary: #009ee3;
@color-secondary--light: tint(@color-secondary, 60%);
@color-secondary--lighter: tint(@color-secondary, 75%);
@color-secondary--lightest: tint(@color-secondary, 90%);
@color-secondary--bright: tint(@color-secondary, 95%);

@color-quaternary: #154273;

@color-lightblue: #00c6ff;
@color-navigation-hover: fade(@color-secondary--lightest, 10%);
@color-navigation-active: fade(@color-secondary--lightest, 50%);
@color-navigation-links: fade(@color-secondary--lightest, 75%);

@c-primary: #00acff;
@c-secondary: #2196f3;
@c-tertiary: #0247bf;
@c-tertiary-dark: #023c8b;
//@c-quaternary: #0247bf;

// Black & white
@color-black: #000;
@color-white: #fff;

// Grey
@color-grey--10: #FAFAFA;
@color-grey--20: #F5F5F5;
@color-grey--40: #E6E6E6;
@color-grey--50: #CCCCCC;
@color-grey--60: #B4B4B4;
@color-grey--80: #535353;

@color-grey: #b4b4b4;

// Categoriën
@color-leren: #ffb612;
@color-vernieuwing: #fa6e00;
@color-arbeidsvoorwaarden: #ca005d;
@color-wetten: #76d2b6;
@color-actualiteit: #73b62a;
@color-overig: #009ee3;
@color-klas: #8fcae7;

// Social media colors
@color-twitter: #55acee;
@color-facebook: #3664a2;
@color-google: #db4f3f;
@color-linkedin: #0073b2;
@color-facebook: #3664a2;

@color-green: #7cb928;
@color-error: #f90031;

// File colors
@color-folder: #02b2ff;
@color-pdf: #d52b1e;
@color-image: @color-green;
@color-doc: @color-grey--60;

// Fonts
// -------------------------------

@font: "ROsanswebtext", sans-serif;
@font--icons: "icons";

// Font sizes
@font-size--extra-small: 1rem;
@font-size--small: 1.4rem;
@font-size--medium: 1.4rem;
@font-size--base: 1.6rem;
@font-size--large: 1.8rem;

@font-size--title-small: 2.2rem;
@font-size--title-normal: 2.8rem;
@font-size--title-main: 3.6rem;

@calc-line-height: 0.6rem;
@calc-line-height--title: 1rem;
@calc-line-height--title-main: 1.2rem;

@line-height--addition: .8rem;

@line-height--extra-small: @font-size--extra-small + @line-height--addition;
@line-height--small: @font-size--small + @line-height--addition;
@line-height--medium: @font-size--medium + @line-height--addition;
@line-height--base: @font-size--base + @line-height--addition;
@line-height--large: @font-size--large + @line-height--addition;

@line-height--title-main: @font-size--title-main + @line-height--addition;
@line-height--title-normal: @font-size--title-normal + @line-height--addition;
@line-height--title-small: @font-size--title-small + @line-height--addition;

.font(@size) {
    & when (@size = extra-small) {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    & when (@size = small) {
        font-size: 1.4rem;
        line-height: 1.4rem + @line-height--addition;
    }
    & when (@size = medium) {
        font-size: 1.6rem;
        line-height: 1.6rem + @line-height--addition;
    }
    & when (@size = large) {
        font-size: 1.8rem;
        line-height: 1.8rem + @line-height--addition;
    }

    & when (@size = title-small) {
        font-size: 2rem;
        line-height: 2rem + @line-height--addition;
    }
    & when (@size = title-large) {
        font-size: 2.4rem;
        line-height: 2.4rem + @line-height--addition;
    }
    & when (@size = title-extra-large) {
        font-size: 3rem;
        line-height: 3rem + @line-height--addition;
    }
    & when (@size = title-huge) {
        font-size: 4.2rem;
        line-height: 4.2rem + @line-height--addition;
    }
    & when (@size = title-humongous) {
        font-size: 4.8rem;
        line-height: 4.8rem + @line-height--addition;
    }
}

// Border radius
// -------------------------------

@border-radius-base: 0;
@border-radius-button: 0.5rem;
@border-radius-small: 0.3rem;

// Box shadows
// -------------------------------

@box-shadow: 0 .1rem .5rem 0 fade(black, 11%), 0 1.5rem 3rem -2rem fade(black, 16%);
@box-shadow-tooltip: 0 0 1.5rem 0 fade(black, 13%), 0 1.5rem 3.5rem -2rem fade(black, 20%);
@box-shadow-overlay: 0 -.1rem 1rem 0 fade(black, 5%), 0 -1rem 3rem -1rem fade(black, 8%);

// Text shadows
// -------------------------------

@text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25);

// Z-indexes
// -------------------------------

@lift-10: 1;
@lift-20: 2;
@lift-30: 3;
@lift-40: 4;
@lift-50: 5;
@lift-60: 6;
@lift-70: 7;
@lift-80: 8;
@lift-90: 9;
@lift-100: 10;
@lift-max: 9999;

// Transitions
// -------------------------------

@trans-bezier: cubic-bezier(.4, 0, 0.2, 1);

@trans-fast: 0.2s ease;
@trans-normal: 0.35s ease;
@trans-slow: 0.5s ease;

@trans-material-fast: 0.2s @trans-bezier;
@trans-material-normal: 0.35s @trans-bezier;
